{
  "openapi": "3.0.0",
  "info": {
    "title": "BRZ API",
    "description": "Complete PIX gateway API by BRZ. Direct integration with BACEN — no external providers.\n\n## Base URLs\n\n**Base URL:** `https://api.brzip.com.br`\n\nAll endpoints use the base path `/api/v1/`.\n\n## Authentication\n\nThe API uses two authentication methods:\n\n### 1. Bearer Token (JWT) — Most endpoints\n\nAll endpoints **except Cash-In** use a Bearer Token:\n``` Authorization: Bearer <your-jwt-token> ```\nObtain a JWT by calling `POST /api/v1/auth/bearer-token` with your API Key credentials.\n\n### 2. API Key — Cash-In endpoints only\n\nCash-In endpoints (`/api/v1/pix/cash-in/*`) use two headers:\n``` x-key-id: <your-key-id> x-secret-key: <your-secret-key> ```\n\n\n## Rate Limits\n\n- Default: 50 req/s per client, burst up to 100.\n- When exceeded, returns HTTP 429 with `Retry-After` header.\n\n## Common Headers\n\n| Header | Required | Description | |--------|----------|-------------| | `Authorization` | Yes (Bearer) | `Bearer <jwt>` for PIX endpoints | | `x-key-id` | Yes (Cash-In) | API Key ID | | `x-secret-key` | Yes (Cash-In) | API Key Secret | | `X-Idempotency-Key` | Recommended | Prevents duplicate operations (UUID) | | `Content-Type` | Yes (POST/PUT) | Always `application/json` |\n\n---\n\n## Onboarding Flow (Step by Step)\n\n### Step 1 — Create Account\n\nCreate your account with `POST /api/v1/auth/signup`. Save the returned `keyId` and `secretKey`. OTP codes will be sent via email and SMS.\n\n### Step 1b — Verify Email\n\nVerify your email with `POST /api/v1/auth/verify-email` using the OTP code received.\n\n### Step 1c — Verify Phone\n\nVerify your phone with `POST /api/v1/auth/verify-phone` using the OTP code received via SMS.\n\n### Step 1d — Resend OTP (optional)\n\nIf needed, resend the code with `POST /api/v1/auth/resend-otp` (max 5 per hour).\n\n### Step 2 — Login\n\nLog in with `POST /api/v1/auth/login` to obtain a session token.\n\n### Step 3 — Submit Documents (3 stages)\n\n1. Get pre-signed URLs with `POST /api/v1/auth/documents/presigned-urls`\n2. `PUT` each file directly to the S3 URL (raw binary, no FormData)\n3. Confirm uploads with `POST /api/v1/auth/documents/confirm`\n\n**Individual documents:** `cpf_frente`, `cpf_verso`, `selfie_com_cpf`, `comprovante_residencia`\n**Business documents:** `cnpj`, `contrato_social`, `comprovante_residencia_empresa`\n\n### Step 4 — Wait for Approval\n\nTrack your status with `GET /api/v1/auth/status`. Wait for team approval.\n\n### Step 5 — Generate Bearer Token\n\nAfter approval, generate your Bearer Token with `POST /api/v1/auth/bearer-token` using your credentials.\n\n### Step 6 — Register PIX Key\n\nRegister a PIX key in DICT/BACEN with `POST /api/v1/pix/keys`. Just send `{\"key_type\": \"EVP\"}` — account data is automatically populated from your onboarding!\n\n### Step 7 — Ready to Operate!\n\nNow you can create charges (Cash-In), make transfers, and check your balance.\n\n---",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.brzip.com.br",
      "description": "Production",
      "x-fern-server-name": "Production"
    },
    {
      "url": "https://api.stg.brzip.com.br",
      "description": "Staging",
      "x-fern-server-name": "Staging"
    },
    {
      "url": "https://qrcode.brzip.com.br",
      "description": "PIX QR Code Server (public, no auth)",
      "x-fern-server-name": "QrCodeServer"
    }
  ],
  "components": {
    "schemas": {
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique transaction identifier",
            "example": "43b715d7-cc3d-4593-a0af-1e248d9953b0"
          },
          "external_id": {
            "type": "string",
            "format": "uuid",
            "description": "External reference ID",
            "example": "01000000-dda7-55d6-6ed1-08de96d692af"
          },
          "reference": {
            "type": "string",
            "description": "Transaction reference code",
            "example": "pag-s1s22ssss2s"
          },
          "client_id": {
            "type": "string",
            "format": "uuid",
            "description": "Client identifier",
            "example": "a612b202-6690-4d24-ba35-2e36c8f3c0ce"
          },
          "type": {
            "type": "string",
            "enum": [
              "cash_in",
              "cash_out",
              "cash_out_return"
            ],
            "description": "Transaction type",
            "example": "cash_out"
          },
          "amount": {
            "type": "string",
            "description": "Transaction amount",
            "example": "0.10"
          },
          "gross_amount": {
            "type": "string",
            "description": "Gross amount before taxes",
            "example": "0.14"
          },
          "net_amount": {
            "type": "string",
            "description": "Net amount after taxes",
            "example": "0.10"
          },
          "tax_amount": {
            "type": "string",
            "description": "Tax amount charged",
            "example": "0.04"
          },
          "currency": {
            "type": "string",
            "description": "Currency code (ISO 4217)",
            "example": "BRL"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed",
              "expired",
              "cancelled",
              "refunded",
              "returned"
            ],
            "description": "Current transaction status",
            "example": "completed"
          },
          "pix_key": {
            "type": "string",
            "description": "PIX key used in the transaction",
            "example": "6b631786-29c2-4f8b-b1ed-2b88a53cf8a4"
          },
          "pix_key_type": {
            "type": "string",
            "enum": [
              "cpf",
              "cnpj",
              "phone",
              "email",
              "evp"
            ],
            "description": "Type of PIX key",
            "example": "evp"
          },
          "e2e": {
            "type": "string",
            "description": "End-to-end ID assigned by the Central Bank",
            "example": "E24722685202604100755GNZ5DGMBWZK"
          },
          "payer_name": {
            "type": "string",
            "description": "Payer full name",
            "example": "Joao Silveira da Silva"
          },
          "payer_document": {
            "type": "string",
            "description": "Payer CPF or CNPJ",
            "example": "12345678901"
          },
          "receiver_name": {
            "type": "string",
            "description": "Receiver full name",
            "example": "Alice Silveira da Silva"
          },
          "receiver_document": {
            "type": "string",
            "description": "Receiver CPF or CNPJ",
            "example": "98765432100"
          },
          "payer": {
            "type": "object",
            "description": "Payer details",
            "properties": {
              "name": {
                "type": "string",
                "example": "Joao Silveira da Silva"
              },
              "document": {
                "type": "string",
                "example": "12345678901"
              }
            }
          },
          "receiver": {
            "type": "object",
            "description": "Receiver details including bank information",
            "properties": {
              "name": {
                "type": "string",
                "example": "Alice Silveira da Silva"
              },
              "document": {
                "type": "string",
                "example": "98765432100"
              },
              "bank": {
                "type": "object",
                "description": "Receiver bank details",
                "properties": {
                  "ispb": {
                    "type": "string",
                    "description": "Bank ISPB code",
                    "example": "22896431"
                  },
                  "participant_name": {
                    "type": "string",
                    "description": "Bank/participant name",
                    "example": "PICPAY"
                  },
                  "agency": {
                    "type": "string",
                    "description": "Bank agency number",
                    "example": "0001"
                  },
                  "account": {
                    "type": "string",
                    "description": "Bank account number",
                    "example": "898130557"
                  },
                  "account_type": {
                    "type": "string",
                    "description": "Account type (checking, savings, etc.)",
                    "example": ""
                  }
                }
              }
            }
          },
          "description": {
            "type": "string",
            "description": "Transaction description/memo",
            "example": "Pagamento fornecedor"
          },
          "channel": {
            "type": "string",
            "description": "Channel through which the transaction was initiated",
            "example": "api"
          },
          "processed_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the transaction was processed",
            "example": "2026-04-10T07:55:51Z"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the transaction was created",
            "example": "2026-04-10T07:55:45Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the last update",
            "example": "2026-04-10T07:55:51Z"
          },
          "ledger_entries": {
            "type": "array",
            "description": "Ledger entries showing balance movements for this transaction",
            "items": {
              "type": "object",
              "properties": {
                "operation_type": {
                  "type": "string",
                  "enum": [
                    "hold",
                    "capture",
                    "release"
                  ],
                  "description": "Type of ledger operation",
                  "example": "hold"
                },
                "amount": {
                  "type": "string",
                  "description": "Amount of the ledger entry",
                  "example": "0.140000"
                },
                "status": {
                  "type": "string",
                  "description": "Status of the ledger entry",
                  "example": "completed"
                },
                "available_before": {
                  "type": "string",
                  "description": "Available balance before this entry",
                  "example": "5.590000"
                },
                "available_after": {
                  "type": "string",
                  "description": "Available balance after this entry",
                  "example": "5.450000"
                },
                "blocked_before": {
                  "type": "string",
                  "description": "Blocked balance before this entry",
                  "example": "20.000000"
                },
                "blocked_after": {
                  "type": "string",
                  "description": "Blocked balance after this entry",
                  "example": "20.140000"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp of the ledger entry",
                  "example": "2026-04-10T07:55:45Z"
                }
              }
            }
          }
        }
      },
      "PixKeyReadResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "PIX key identifier",
            "example": "4a9c64d5-2499-411c-93de-c134845fdb41"
          },
          "client_id": {
            "type": "string",
            "description": "Client identifier",
            "example": "a9376f19-ac76-49fe-9a0a-4d566660ebf8"
          },
          "account_id": {
            "type": "string",
            "description": "Account identifier",
            "example": ""
          },
          "key_type": {
            "type": "string",
            "enum": [
              "CPF",
              "CNPJ",
              "EMAIL",
              "PHONE",
              "EVP"
            ],
            "description": "Type of PIX key",
            "example": "EVP"
          },
          "key_value": {
            "type": "string",
            "description": "Registered PIX key value",
            "example": "c9b8d38f-cc40-4531-844e-16055448bf59"
          },
          "ispb": {
            "type": "string",
            "description": "Bank ISPB code",
            "example": "12345678"
          },
          "branch_number": {
            "type": "string",
            "description": "Branch number",
            "example": "0001"
          },
          "account_type": {
            "type": "string",
            "description": "Account type",
            "example": "CACC"
          },
          "account_number": {
            "type": "string",
            "description": "Account number",
            "example": "12345-6"
          },
          "person_type": {
            "type": "string",
            "description": "Person type",
            "example": "NATURAL_PERSON"
          },
          "tax_id": {
            "type": "string",
            "description": "Tax identifier",
            "example": "12345678901"
          },
          "holder_name": {
            "type": "string",
            "description": "Account holder name",
            "example": "Fulano da Silva"
          },
          "dict_key_id": {
            "type": "string",
            "description": "DICT key identifier",
            "example": ""
          },
          "dict_status": {
            "type": "string",
            "description": "DICT registration status",
            "example": "active"
          },
          "created_at": {
            "type": "string",
            "description": "Creation timestamp",
            "example": "2026-04-18T12:04:59-03:00"
          },
          "updated_at": {
            "type": "string",
            "description": "Last update timestamp",
            "example": "2026-04-18T12:05:00-03:00"
          }
        }
      },
      "PixKeyWriteResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "registered": {
                "type": "boolean",
                "description": "Indicates if the key was successfully registered",
                "example": true
              },
              "key": {
                "type": "string",
                "description": "Registered PIX key value",
                "example": "c4501bd5-884b-4bd7-ae63-0f22fb889b7d"
              },
              "type": {
                "type": "string",
                "enum": [
                  "CPF",
                  "CNPJ",
                  "EMAIL",
                  "PHONE",
                  "EVP"
                ],
                "description": "Type of PIX key",
                "example": "EVP"
              },
              "keyStatus": {
                "type": "string",
                "description": "Status of the key in DICT",
                "example": "ACTIVE"
              },
              "createdAt": {
                "type": "string",
                "description": "Registration timestamp",
                "example": "2026-04-18T18:53:14-03:00"
              },
              "dictTransactionId": {
                "type": "string",
                "description": "DICT transaction identifier",
                "example": ""
              }
            }
          }
        }
      },
      "LimitRequestResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Limit request ID",
            "example": "25fc934e-bee7-4ac9-a4c8-1bbfd99fbccc"
          },
          "account_id": {
            "type": "string",
            "description": "Account ID",
            "example": "cc630098-dcee-4bd0-b0de-4e00bbeef4d6"
          },
          "type": {
            "type": "string",
            "enum": [
              "pix_in",
              "pix_out",
              "ted",
              "boleto",
              "total"
            ],
            "description": "Limit type",
            "example": "pix_in"
          },
          "period": {
            "type": "string",
            "enum": [
              "daily",
              "nightly",
              "monthly"
            ],
            "description": "Time period",
            "example": "daily"
          },
          "current_amount": {
            "type": "string",
            "description": "Current limit amount",
            "example": "0"
          },
          "requested_amount": {
            "type": "string",
            "description": "Requested limit amount",
            "example": "10"
          },
          "reason": {
            "type": "string",
            "description": "Reason for the request",
            "example": ""
          },
          "status": {
            "type": "string",
            "description": "Request status",
            "example": "pending"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "Request expiration timestamp",
            "example": "2026-04-21T23:00:20.434052014Z"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp",
            "example": "2026-04-18T23:00:20.434052425Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp",
            "example": "2026-04-18T23:00:20.434052575Z"
          }
        },
        "securitySchemes": null
      },
      "PixKeyDeleteResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates if the key was successfully deleted",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Deletion result message",
            "example": "PIX key deleted successfully"
          }
        }
      },
      "ReversalResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "rev_123"
          },
          "external_id": {
            "type": "string",
            "example": "a39778df-1c0b-4e37-8d35-dcfa623b66f2"
          },
          "original_end_to_end_id": {
            "type": "string",
            "example": "E35547753202201201450u34sDGd19l2"
          },
          "refund_end_to_end_id": {
            "type": "string",
            "example": "E24722685202604100755GNZ5DGMBWZK"
          },
          "amount": {
            "type": "string",
            "example": 2.5
          },
          "currency": {
            "type": "string",
            "example": "BRL"
          },
          "status": {
            "type": "string",
            "example": "completed"
          },
          "refund_code": {
            "type": "string",
            "example": "MD06"
          },
          "created_at": {
            "type": "string",
            "example": "2026-04-21 23:05:43+00:00"
          }
        }
      },
      "CashOutStatus": {
        "type": "object",
        "properties": {
          "transaction_id": {
            "type": "string",
            "example": "ed9964df-4b36-40fd-8d03-707631c8db7c"
          },
          "external_id": {
            "type": "string",
            "example": "10f2ff67-c1f5-47a2-a855-7958fe3a3474"
          },
          "amount": {
            "type": "string",
            "example": 50.0
          },
          "currency": {
            "type": "string",
            "example": "BRL"
          },
          "status": {
            "type": "string",
            "example": "completed"
          },
          "pix_key": {
            "type": "string",
            "example": "a9570e91-ba2c-461a-9523-0371b9ab9177"
          },
          "pix_key_type": {
            "type": "string",
            "example": "evp"
          },
          "receiver_name": {
            "type": "string",
            "example": "John Doe"
          },
          "receiver_document": {
            "type": "string",
            "example": 48414628990
          },
          "payer": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "example": "John Doe"
              },
              "document": {
                "type": "string",
                "example": 48414628990
              },
              "bank": {
                "type": "object",
                "properties": {
                  "ispb": {
                    "type": "string",
                    "example": 24722685
                  },
                  "participant_name": {
                    "type": "string",
                    "example": "BRX"
                  },
                  "agency": {
                    "type": "string",
                    "example": "0001"
                  },
                  "account": {
                    "type": "string",
                    "example": 12345678
                  },
                  "account_type": {
                    "type": "string",
                    "example": "payment"
                  }
                }
              }
            }
          },
          "receiver": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "example": "Jane Doe"
              },
              "document": {
                "type": "string",
                "example": 42090392339
              },
              "bank": {
                "type": "object",
                "properties": {
                  "ispb": {
                    "type": "string",
                    "example": "00000000"
                  },
                  "participant_name": {
                    "type": "string",
                    "example": "BCO DO BRASIL S.A"
                  },
                  "agency": {
                    "type": "string",
                    "example": "0001"
                  },
                  "account": {
                    "type": "string",
                    "example": 87654321
                  },
                  "account_type": {
                    "type": "string",
                    "example": "payment"
                  }
                }
              }
            }
          },
          "end_to_end_id": {
            "type": "string",
            "example": "E24722685202604220043OFIJMVJTD9T"
          },
          "error_code": {
            "type": "string"
          },
          "error_message": {
            "type": "string"
          },
          "completed_at": {
            "type": "string",
            "example": "2026-04-22 00:45:49+00:00"
          },
          "created_at": {
            "type": "string",
            "example": "2026-04-22 00:45:47+00:00"
          }
        }
      },
      "P2PLookup": {
        "type": "object",
        "properties": {
          "account_id": {
            "type": "string",
            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "client_id": {
            "type": "string",
            "example": "c1d2e3f4-5678-90ab-cdef-1234567890ab"
          },
          "name": {
            "type": "string",
            "example": "Maria Silva"
          },
          "masked_document": {
            "type": "string",
            "example": "123.***.***-01"
          },
          "person_type": {
            "type": "string",
            "example": "individual"
          },
          "branch_number": {
            "type": "string",
            "example": "0001"
          },
          "account_number": {
            "type": "string",
            "example": "987654"
          },
          "account_type": {
            "type": "string",
            "example": "payment"
          },
          "pix_key_type": {
            "type": "string",
            "example": "email"
          },
          "pix_key_value": {
            "type": "string",
            "example": "maria@exemplo.com"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string",
            "description": "Human-readable error message",
            "example": "Account not found"
          },
          "code": {
            "type": "string",
            "description": "Machine-readable error code",
            "example": "ACCOUNT_NOT_FOUND"
          },
          "correlation_id": {
            "type": "string",
            "format": "uuid",
            "description": "Request correlation ID for support tracing",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        }
      },
      "WalletBalance": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string",
            "format": "uuid",
            "description": "Client identifier",
            "example": "a612b202-6690-4d24-ba35-2e36c8f3c0ce"
          },
          "available": {
            "type": "string",
            "description": "Available balance (6 decimal places)",
            "example": "1250.500000"
          },
          "blocked": {
            "type": "string",
            "description": "Blocked/held balance",
            "example": "50.000000"
          },
          "overdraft": {
            "type": "string",
            "description": "Overdraft amount (usually zero)",
            "example": "0.000000"
          },
          "total": {
            "type": "string",
            "description": "Total balance (available + blocked)",
            "example": "1300.500000"
          },
          "currency": {
            "type": "string",
            "example": "BRL"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive",
              "suspended",
              "blocked"
            ],
            "description": "Wallet status",
            "example": "active"
          },
          "from_cache": {
            "type": "boolean",
            "description": "Indicates if the balance was served from cache",
            "example": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last balance update timestamp (RFC3339)",
            "example": "2026-07-22T10:30:00Z"
          },
          "wallet_breakdown": {
            "type": "array",
            "description": "Per-wallet breakdown (present when client holds multiple wallets)",
            "items": {
              "type": "object",
              "properties": {
                "wallet_id": {
                  "type": "string",
                  "format": "uuid",
                  "example": "w1a2b3c4-d5e6-7f8a-9b0c-1d2e3f4a5b6c"
                },
                "wallet_type": {
                  "type": "string",
                  "description": "Wallet type identifier",
                  "example": "primary"
                },
                "available": {
                  "type": "string",
                  "example": "1250.500000"
                },
                "blocked": {
                  "type": "string",
                  "example": "50.000000"
                },
                "currency": {
                  "type": "string",
                  "example": "BRL"
                }
              }
            }
          }
        }
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "JWT token obtained via `POST /api/v1/auth/bearer-token`. Required for all endpoints except Cash-In (which uses API Key headers)."
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Generate and manage authentication tokens for the BRZ API.\n\nUse `POST /api/v1/auth/bearer-token` with your API Key credentials to obtain a JWT token required for most API endpoints."
    },
    {
      "name": "Service Health",
      "description": "Health check endpoints to verify service availability. No authentication required."
    },
    {
      "name": "PIX Keys",
      "description": "Manage PIX keys registered in the BACEN DICT (Directory of Transactional Account Identifiers).\n\n**Authentication:** Bearer Token\n**Required scopes:** `pix:keys:read` and/or `pix:keys:write`"
    },
    {
      "name": "PIX Balance",
      "description": "Query account balance information.\n\n**Authentication:** Bearer Token\n**Scope:** `pix:balance:read`"
    },
    {
      "name": "Transactions",
      "description": "Query and retrieve PIX transaction details for the authenticated client. Supports filtering by type, status, end-to-end ID, reference, and date range.\n\n**Authentication:** Bearer Token\n\n**Scope:** Bearer JWT obtained via `/api/v1/auth/bearer-token`\n\n**Date Range Filtering:** Use `date_from` and `date_to` parameters (RFC 3339 format). The range cannot exceed 30 days — the API returns HTTP 400 if exceeded."
    },
    {
      "name": "PIX Limits",
      "description": "Query and manage PIX transaction limits.\n\n**Authentication:** Bearer Token\n\n**Scope:** `pix:limits:read` / `pix:limits:write`\n\n**Important:** Approved limits that are not consistently used will be automatically downgraded. If your limit is reduced due to inactivity, you will need to submit a new limit increase request."
    },
    {
      "name": "PIX Cash-In",
      "description": "Create and manage PIX charges (Cash-In). Generates a QR Code for the payer.\n\n**Authentication:** API Key via headers `x-key-id` + `x-secret-key`, OR Bearer Token.\n\n**Endpoints:**\n- `POST /api/v1/pix/cash-in/qrcode` — Create charge\n- `GET /api/v1/pix/cash-in/{id}` — Query status\n- `POST /api/v1/pix/cash-in/{id}/cancel` — Cancel charge\n\n**Financial fields (CobV — charge with due date):**\n- `due_date` — Due date (YYYY-MM-DD)\n- `penalty` — Late fee after due date (`mode` + `value`)\n- `interest` — Daily interest (`mode` + `value`)\n- `discount` — Early payment discount (`mode` + `value` + `fixed_dates[]`)\n- `rebate` — Rebate/abatement (`mode` + `value`)"
    },
    {
      "name": "PIX Reversals",
      "description": "Manage reversals (refunds) of received PIX payments.\n\n**Authentication:** Bearer Token\n\n**Required scopes:**\n- `pix:reversals:write` to create reversals\n- `pix:reversals:read` to query reversals"
    },
    {
      "name": "PIX Cash-Out",
      "description": "Send PIX payments (Cash-Out) via Temporal workflows.\n\n**Authentication:** Bearer Token\n**Scope:** `pix:cashout:write` / `pix:cashout:read`"
    },
    {
      "name": "MED",
      "description": "Respond to inbound MED (Special Return Mechanism) requests and list them by status. MED is a BACEN mechanism for returning PIX funds in cases of fraud or operational errors.\n\n**Authentication:** Bearer Token\n**Scope:** `pix:med:read` / `pix:med:write`"
    },
    {
      "name": "Webhooks",
      "description": "Register URLs to receive real-time HTTP POST notifications when events occur in your account — PIX payments, MED requests, onboarding updates, and more.\n\n**Scopes:** `webhooks:read` (list, search) · `webhooks:write` (create, update, delete, resend)\n\nFor the full integration guide including supported events, payload examples, signature verification and retry behaviour, see the [Webhooks Integration guide](/guides/webhooks-integration)."
    },
    {
      "name": "P2P",
      "description": "Look up internal accounts and execute peer to peer (P2P) transfers.\n**Authentication:** Bearer token\n**Scope:** `pix:p2p:read` / `pix:p2p:write`"
    },
    {
      "name": "Accounts",
      "description": "Manage account state transitions — activate, block, or reserve accounts.\n\nThese endpoints are used to manage the lifecycle of a payment account after it has been created through the onboarding flow. Accounts start in `pending_kyc` state and must be activated before they can transact.\n\n**Account states:** `pending_kyc → active → suspended | blocked | closed`\n\n**Authentication:** Bearer token"
    },
    {
      "name": "Boleto",
      "description": "Decode barcode data and make boleto payments using the BRZ API.\n\nBoleto processing is handled through the payment orchestrator and settled via the Celcoin integration. Supports both boleto payments (paying a third-party bill) and boleto issuance (charging your customers).\n\n**Authentication:** Bearer token\n\n**Idempotency:** Always include `X-Idempotency-Key` when creating payments."
    },
    {
      "name": "Wallets",
      "description": "Query wallet balances and validate funds availability.\n\nThe Wallet API (`v1-1-beta`) provides real-time balance information with cache invalidation driven by ledger events. The `wallet_breakdown` field shows a per-wallet breakdown when a client holds multiple wallets.\n\n> **Note:** The `v1-1-beta` path prefix indicates this contract is stable but may evolve. Plan for a future migration to `/api/v1/wallet/*`.\n\n**Authentication:** Bearer token"
    },
    {
      "name": "Participants",
      "description": "Query the list of financial institutions participating in the PIX network (STR/COMPE directory).\n\nUseful for validating ISPBs, looking up bank names, and checking PIX participation status before initiating transfers.\n\n**Authentication:** Bearer token"
    },
    {
      "name": "PIX QR Code Server",
      "description": "Public endpoints served by the BRZ QR Code server at `qrcode.brzip.com.br`.\n\nThese endpoints resolve PIX QR code access tokens to signed JWS payloads (RFC 7515) containing the full EMV QRCODE data. No authentication is required — security is enforced through opaque access tokens and expiration.\n\n**Base URL:** `https://qrcode.brzip.com.br`\n**Authentication:** None (public endpoints)\n\nThe response is a compact JWS (`application/jose`) with three base64url-encoded parts (`header.payload.signature`). The payload contains PIX-standard fields: `chave`, `valor`, `devedor`, `recebedor`, `calendario`, and `solicitacaoPagador`.\n\nThe JWKS endpoint (`/pix/jwks`) exposes the public key for signature verification, compliant with BACEN PIX spec."
    }
  ],
  "paths": {
    "/api/v1/auth/bearer-token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Generate Bearer Token",
        "operationId": "generateBearerToken",
        "description": "Generate a JWT Bearer Token using your API Key credentials.\n\n**Authentication:** Pass your credentials via headers `x-key-id` and `x-secret-key`.\n\n**Request body:** Optionally specify the `scopes` array to limit the token's permissions. If omitted, the token includes all scopes available to your API Key.\n\nThe returned token should be included in the `Authorization` header as `Bearer <token>` for all subsequent requests.",
        "security": [],
        "parameters": [
          {
            "name": "x-key-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API Key ID, provided after account approval.",
            "example": "key_abc123def456"
          },
          {
            "name": "x-secret-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API Secret Key, provided after account approval.",
            "example": "sec_xyz789ghi012"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scopes": {
                    "type": "array",
                    "description": "List of scopes to include in the token. If omitted, all scopes available to the API Key are included.",
                    "items": {
                      "type": "string",
                      "enum": [
                        "pix:keys:read",
                        "pix:keys:write",
                        "pix:balance:read",
                        "pix:cashin:read",
                        "pix:cashin:write",
                        "pix:cashout:read",
                        "pix:cashout:write",
                        "pix:limits:read",
                        "pix:limits:write",
                        "pix:med:read",
                        "pix:med:write",
                        "pix:reversals:read",
                        "pix:reversals:write",
                        "webhooks:read",
                        "webhooks:write"
                      ]
                    },
                    "example": [
                      "pix:keys:read",
                      "pix:keys:write",
                      "pix:balance:read",
                      "pix:cashout:write",
                      "webhooks:read",
                      "webhooks:write"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "JWT Bearer Token to use in the Authorization header.",
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                    },
                    "expiresIn": {
                      "type": "integer",
                      "description": "Token expiration time in seconds.",
                      "example": 3600
                    },
                    "scopes": {
                      "type": "array",
                      "description": "List of scopes included in the token.",
                      "items": {
                        "type": "string",
                        "example": "pix:keys:read"
                      }
                    },
                    "refreshToken": {
                      "type": "string",
                      "description": "Token to refresh the Bearer Token when it expires.",
                      "example": "365d1f9d-ba6f-4643-8759-6654fa0ec947..."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Invalid x-key-id or x-secret-key"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Service Health"
        ],
        "summary": "Health Check",
        "operationId": "healthCheck",
        "description": "Basic service health check. Returns HTTP 200 if the service is running.\n\n**Response:** `{\"status\":\"healthy\",\"service\":\"brz-api\"}`",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "healthy"
                    },
                    "service": {
                      "type": "string",
                      "example": "brz-api"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ready": {
      "get": {
        "tags": [
          "Service Health"
        ],
        "summary": "Readiness Check",
        "operationId": "readinessCheck",
        "description": "Checks if the service is ready to accept requests. Returns HTTP 200 when ready.\n\n**Response:** `{\"status\":\"ready\",\"service\":\"brz-api\"}`",
        "responses": {
          "200": {
            "description": "Service is ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ready"
                    },
                    "service": {
                      "type": "string",
                      "example": "brz-api"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/pix/lookup": {
      "post": {
        "tags": [
          "PIX Keys"
        ],
        "summary": "DICT Key Lookup",
        "operationId": "pixLookup",
        "description": "Resolves a PIX key against the BACEN DICT database, returning the linked account's bank details and owner information.\nUse this to display recipient information before initiating a Cash-Out, or to validate that a key exists before attempting a transfer.\n**Scope:** `pix:lookup`\n**Authentication:** Bearer token or API Key",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key",
                  "key_type"
                ],
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "PIX key to resolve",
                    "examples": {
                      "cpf": {
                        "value": "12345678901",
                        "summary": "CPF key"
                      },
                      "email": {
                        "value": "user@example.com",
                        "summary": "Email key"
                      },
                      "phone": {
                        "value": "+5531999999999",
                        "summary": "Phone key"
                      },
                      "evp": {
                        "value": "a612b202-6690-4d24-ba35-2e36c8f3c0ce",
                        "summary": "EVP (random key)"
                      }
                    }
                  },
                  "key_type": {
                    "type": "string",
                    "enum": [
                      "CPF",
                      "CNPJ",
                      "EMAIL",
                      "PHONE",
                      "EVP"
                    ],
                    "description": "Type of PIX key"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key resolved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "Resolved PIX key"
                        },
                        "key_type": {
                          "type": "string",
                          "description": "Key type"
                        },
                        "owner_name": {
                          "type": "string",
                          "description": "Account owner's name",
                          "example": "Maria Silva"
                        },
                        "owner_document": {
                          "type": "string",
                          "description": "Account owner's CPF or CNPJ (masked)",
                          "example": "***.***.***-01"
                        },
                        "ispb": {
                          "type": "string",
                          "description": "Recipient bank ISPB (8 digits)",
                          "example": "60701190"
                        },
                        "participant_name": {
                          "type": "string",
                          "description": "Recipient bank name",
                          "example": "ITAÚ UNIBANCO S.A."
                        },
                        "branch": {
                          "type": "string",
                          "description": "Branch number",
                          "example": "0001"
                        },
                        "account_number": {
                          "type": "string",
                          "description": "Account number",
                          "example": "12345678"
                        },
                        "account_type": {
                          "type": "string",
                          "description": "Account type",
                          "enum": [
                            "checking",
                            "savings",
                            "salary",
                            "payment"
                          ]
                        },
                        "end_to_end_id": {
                          "type": "string",
                          "description": "E2E ID to use as `X-Pix-Lookup-E2E` header in Cash-Out",
                          "example": "E60701190202607221435abcdef123456"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "PIX key not found in DICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid key format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/pix/keys": {
      "post": {
        "tags": [
          "PIX Keys"
        ],
        "summary": "Register PIX Key",
        "operationId": "registerPixKey",
        "description": "Registers a new PIX key in DICT/BACEN.\n\n**Simplified!** Only `key_type` is required. Account data (account_type, account_number, branch_number, person_type, tax_id, name, trade_name, account_open_date) is automatically populated from the approved onboarding data.\n\n**Key types (`key_type`):**\n- `CPF` — Individual taxpayer ID (11 digits)\n- `CNPJ` — Business taxpayer ID (14 digits)\n- `EMAIL` — Email address\n- `PHONE` — Phone number (+55...)\n- `EVP` — Random key (generated by BACEN, send empty `key`)\n\n**Required field:** `key_type`\n**Optional field:** `key` (required for CPF, CNPJ, EMAIL, PHONE; empty for EVP)\n\n**Optional override fields:** To override onboarding data, send any of: `account_type`, `account_number`, `branch_number`, `person_type`, `tax_id`, `name`, `trade_name`, `account_open_date`\n\n**Tip:** For EVP (random key), just send `{\"key_type\": \"EVP\"}`. BACEN generates the key automatically.\n\n**Scope:** `pix:keys:write`",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key_type"
                ],
                "properties": {
                  "key_type": {
                    "type": "string",
                    "enum": [
                      "CPF",
                      "CNPJ",
                      "EMAIL",
                      "PHONE",
                      "EVP"
                    ],
                    "description": "Type of PIX key to register",
                    "example": "EVP"
                  },
                  "key": {
                    "type": "string",
                    "description": "Key value. Required for CPF, CNPJ, EMAIL, PHONE. Leave empty for EVP.",
                    "example": ""
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PIX key registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "success": {
                    "type": "boolean",
                    "description": "Indicates if the operation was successful",
                    "example": true
                  },
                  "$ref": "#/components/schemas/PixKeyWriteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "409": {
            "description": "Key already registered"
          }
        }
      },
      "get": {
        "tags": [
          "PIX Keys"
        ],
        "summary": "List PIX Keys",
        "operationId": "listPixKeys",
        "description": "Lists all PIX keys registered for the authenticated client.\n\n**Scope:** `pix:keys:read`",
        "responses": {
          "200": {
            "description": "List of PIX keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PixKeyReadResponse"
                          }
                        },
                        "total": {
                          "type": "integer",
                          "example": 1
                        },
                        "page": {
                          "type": "integer",
                          "example": 1
                        },
                        "page_size": {
                          "type": "integer",
                          "example": 20
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/pix/keys/{key}": {
      "get": {
        "tags": [
          "PIX Keys"
        ],
        "summary": "Get PIX Key by Value",
        "operationId": "getPixKey",
        "description": "Looks up a specific PIX key by its value (CPF, email, EVP UUID, etc.).\n\n**Scope:** `pix:keys:read`",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The PIX key value to look up",
            "example": "user@example.com"
          }
        ],
        "responses": {
          "200": {
            "description": "PIX key details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/PixKeyReadResponse"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Key not found"
          }
        }
      },
      "delete": {
        "tags": [
          "PIX Keys"
        ],
        "summary": "Delete PIX Key",
        "operationId": "deletePixKey",
        "description": "Removes a PIX key from DICT/BACEN.\n\n**URL parameter:** `key` — the PIX key value\n**Body:** `reason` (optional, defaults to `USER_REQUESTED`)\n\n**Scope:** `pix:keys:write`",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The PIX key value to delete"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "Reason for deletion",
                    "enum": [
                      "USER_REQUESTED",
                      "ACCOUNT_CLOSURE",
                      "BRANCH_TRANSFER",
                      "FRAUD"
                    ],
                    "default": "USER_REQUESTED",
                    "example": "USER_REQUESTED"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PIX key deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/PixKeyDeleteResponse"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Key not found"
          }
        }
      }
    },
    "/api/v1/pix/balance": {
      "get": {
        "tags": [
          "PIX Balance"
        ],
        "summary": "Get Balance",
        "operationId": "getBalance",
        "description": "Queries the account balance. If `account_id` is omitted, uses the client's default account.\n\n**Scope:** `pix:balance:read`",
        "parameters": [
          {
            "name": "account_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Account ID (optional, uses default account if omitted)",
            "example": "acc-550e8400-e29b-41d4"
          }
        ],
        "responses": {
          "200": {
            "description": "Account balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account_id": {
                          "type": "string",
                          "example": "acc-550e8400-e29b-41d4"
                        },
                        "available_balance": {
                          "type": "string",
                          "example": "10000.00"
                        },
                        "blocked_balance": {
                          "type": "string",
                          "example": "500.00"
                        },
                        "total_balance": {
                          "type": "string",
                          "example": "10500.00"
                        },
                        "currency": {
                          "type": "string",
                          "example": "BRL"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-01-15T10:00:00Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "List Transactions",
        "operationId": "listTransactions",
        "description": "Lists all transactions for the authenticated client with pagination and filtering by type, status, end-to-end ID, reference, and date range.\n\n**Scope:** Bearer JWT\n\n**Date Range:** When using `date_from` and `date_to`, the range cannot exceed 30 days. Returns HTTP 400 if exceeded.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Number of records per page (1-100, default 20)",
            "example": 50
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset for pagination (default 0)",
            "example": 0
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "cash_in",
                "cash_out",
                "cash_out_return"
              ]
            },
            "description": "Filter by transaction type",
            "example": "cash_in"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "processing",
                "completed",
                "failed",
                "expired",
                "cancelled",
                "refunded",
                "returned"
              ]
            },
            "description": "Filter by transaction status",
            "example": "completed"
          },
          {
            "name": "e2e",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by end-to-end ID (exact match)",
            "example": "E12345678920260411"
          },
          {
            "name": "reference",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by transaction reference (exact match)",
            "example": "T2604112031qzolgrk"
          },
          {
            "name": "date_from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start of date range filter (RFC 3339 format). Must be used together with `date_to`. Range cannot exceed 30 days.",
            "example": "2026-04-01T00:00:00Z"
          },
          {
            "name": "date_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "End of date range filter (RFC 3339 format). Must be used together with `date_from`. Range cannot exceed 30 days.",
            "example": "2026-04-30T23:59:59Z"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "transactions": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Transaction"
                          }
                        },
                        "total": {
                          "type": "integer"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "offset": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — e.g., date range exceeds 30 days"
          }
        }
      }
    },
    "/api/v1/transactions/{id}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get Transaction by ID",
        "operationId": "getTransaction",
        "description": "Retrieves full details of a specific transaction by ID, including payer/receiver information, bank details, and ledger entries. Returns 404 if the transaction does not belong to the authenticated client.\n\n**Scope:** Bearer JWT",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Transaction ID",
            "example": "43b715d7-cc3d-4593-a0af-1e248d9953b0"
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Transaction"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found"
          }
        }
      }
    },
    "/api/v1/pix/limits": {
      "get": {
        "tags": [
          "PIX Limits"
        ],
        "summary": "Get Limits",
        "operationId": "getLimits",
        "description": "Queries PIX transaction limits for the account, grouped by type (pix_out, pix_in, ted, boleto) and period (daytime/nighttime).\n\n**Scope:** `pix:limits:read`",
        "parameters": [
          {
            "name": "account_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Account ID (optional, uses default account if omitted)",
            "example": "acc-550e8400-e29b-41d4"
          }
        ],
        "responses": {
          "200": {
            "description": "Account limits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "limits": {
                      "type": "object",
                      "description": "Limits grouped by type and period"
                    },
                    "period": {
                      "type": "object",
                      "properties": {
                        "daytime": {
                          "type": "string",
                          "example": "06:00-20:00"
                        },
                        "nighttime": {
                          "type": "string",
                          "example": "20:00-06:00"
                        }
                      }
                    },
                    "currency": {
                      "type": "string",
                      "example": "BRL"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/pix/limits/requests": {
      "post": {
        "tags": [
          "PIX Limits"
        ],
        "summary": "Request Limit Change",
        "operationId": "requestLimitChange",
        "description": "Creates a request to change a PIX transaction limit. The request remains pending until approved or rejected by an administrator.\n\n**Rules:**\n- Only one pending request per type/period is allowed\n- If one already exists, returns HTTP 409\n\n**Scope:** `pix:limits:write`",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "period",
                  "requested_amount"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "pix_in",
                      "pix_out",
                      "ted",
                      "boleto",
                      "total"
                    ],
                    "description": "Limit type",
                    "example": "pix_in"
                  },
                  "period": {
                    "type": "string",
                    "enum": [
                      "daily",
                      "nightly",
                      "monthly"
                    ],
                    "description": "Time period",
                    "example": "daily"
                  },
                  "requested_amount": {
                    "type": "string",
                    "description": "Requested amount (decimal string)",
                    "example": "500000.00"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Justification for the request (optional)",
                    "example": "Increased e-commerce sales volume"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Limit change request created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/LimitRequestResponse"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "A pending request already exists for this type/period"
          }
        }
      },
      "get": {
        "tags": [
          "PIX Limits"
        ],
        "summary": "List Pending Limit Requests",
        "operationId": "listLimitRequests",
        "description": "Lists all pending limit change requests for the authenticated account. Returns only requests with `pending` status.\n\n**Scope:** `pix:limits:read`",
        "responses": {
          "200": {
            "description": "List of pending limit requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LimitRequestResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/pix/limits/requests/{limit_request_id}": {
      "get": {
        "tags": [
          "PIX Limits"
        ],
        "summary": "Get Limit Request by ID",
        "operationId": "getLimitRequest",
        "description": "Retrieves details of a specific limit change request. Returns full data including current status (pending, approved, rejected, expired).\n\n**Scope:** `pix:limits:read`",
        "parameters": [
          {
            "name": "limit_request_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Limit request ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Limit request details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/LimitRequestResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/pix/cash-in/qrcode": {
      "post": {
        "tags": [
          "PIX Cash-In"
        ],
        "summary": "Create Charge",
        "operationId": "createCashIn",
        "description": "Creates a PIX charge (Cash-In). Generates a QR Code for the payer and waits for the complete processing result.\n\n**Authentication:** API Key via headers `x-key-id` + `x-secret-key`, OR Bearer Token.\n\n**Scope:** `pix:cashin:write`",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "reference"
                ],
                "properties": {
                  "amount": {
                    "type": "string",
                    "description": "Charge amount in BRL (decimal string)",
                    "example": "150.00"
                  },
                  "reference": {
                    "type": "string",
                    "description": "Your internal reference ID",
                    "example": "order-12345"
                  },
                  "description": {
                    "type": "string",
                    "description": "Charge description shown to payer",
                    "example": "Monthly subscription payment"
                  },
                  "payer_name": {
                    "type": "string",
                    "description": "Expected payer name (optional)",
                    "example": "John Doe"
                  },
                  "payer_document": {
                    "type": "string",
                    "description": "Expected payer document/CPF (optional)",
                    "example": "12345678901"
                  },
                  "expiration_time": {
                    "type": "integer",
                    "description": "Expiration time in seconds (default 3600)",
                    "example": 3600
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Metadata for the charge"
                  },
                  "due_date": {
                    "type": "string",
                    "format": "date",
                    "description": "Due date for CobV charges (YYYY-MM-DD)"
                  },
                  "receiver_address": {
                    "type": "string",
                    "description": "Address of the receiver"
                  },
                  "receiver_state": {
                    "type": "string",
                    "description": "State of the receiver"
                  },
                  "receiver_postal_code": {
                    "type": "string",
                    "description": "Postal Code of the receiver"
                  },
                  "penalty": {
                    "type": "object",
                    "description": "Late fee configuration (CobV only)",
                    "properties": {
                      "mode": {
                        "type": "integer",
                        "description": "1 = fixed amount, 2 = percentage"
                      },
                      "value": {
                        "type": "number"
                      }
                    }
                  },
                  "interest": {
                    "type": "object",
                    "description": "Daily interest configuration (CobV only)",
                    "properties": {
                      "mode": {
                        "type": "integer",
                        "description": "1 = BRL/day, 2 = %/day, 3 = %/month, 4 = %/year"
                      },
                      "value": {
                        "type": "number"
                      }
                    }
                  },
                  "discount": {
                    "type": "object",
                    "description": "Early payment discount (CobV only)",
                    "properties": {
                      "mode": {
                        "type": "integer"
                      },
                      "value": {
                        "type": "number"
                      },
                      "fixed_dates": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      }
                    }
                  },
                  "rebate": {
                    "type": "object",
                    "description": "Rebate/abatement (CobV only)",
                    "properties": {
                      "mode": {
                        "type": "integer"
                      },
                      "value": {
                        "type": "number"
                      }
                    }
                  },
                  "withdraw_amount": {
                    "type": "string",
                    "description": "Number indicating the withdraw amount",
                    "example": "123.45"
                  },
                  "withdraw_agent_mode": {
                    "type": "integer"
                  },
                  "change_amount": {
                    "type": "string",
                    "description": "Number indicating the change amount",
                    "example": "123.45"
                  },
                  "change_agent_mode": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-key-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API Key ID (required if not using Bearer Token)",
            "example": "your-api-key-id"
          },
          {
            "name": "x-secret-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API Key Secret (required if not using Bearer Token)",
            "example": "your-api-key-secret"
          }
        ],
        "responses": {
          "200": {
            "description": "Charge created and processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "conciliation_id": {
                      "type": "string",
                      "example": "e7ab3h05237141509d5c52a280b68b53"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "transaction_id": {
                      "type": "string",
                      "example": "txn_abc123"
                    },
                    "status": {
                      "type": "string",
                      "example": "pending"
                    },
                    "qr_code": {
                      "type": "string"
                    },
                    "qr_code_text": {
                      "type": "string"
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "jdpi_document_id": {
                      "type": "string",
                      "example": "29535ed9-cc6a-4d87-994f-634f830362f1"
                    },
                    "message": {
                      "type": "string",
                      "example": "Cash-in validated successfully"
                    },
                    "metadata": {
                      "type": "object"
                    },
                    "provider": {
                      "type": "string",
                      "example": "pix"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/pix/cash-in/{cash_in_id}": {
      "get": {
        "tags": [
          "PIX Cash-In"
        ],
        "summary": "Get Cash-In Status",
        "operationId": "getCashInStatus",
        "description": "Queries the status of a PIX charge.\n\n**Possible statuses:** `pending`, `paid`, `expired`, `cancelled`, `failed`\n\n**Scope:** `pix:cashin:read`",
        "parameters": [
          {
            "name": "cash_in_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Cash-In transaction ID"
          },
          {
            "name": "x-key-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "your-api-key-id"
          },
          {
            "name": "x-secret-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "your-api-key-secret"
          }
        ],
        "responses": {
          "200": {
            "description": "Cash-In status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "transaction_id": {
                          "type": "string",
                          "example": "425cf5d3-4981-4aa6-b207-407f2e3a02c0"
                        },
                        "external_id": {
                          "type": "string",
                          "example": "aa8091df-3939-4071-b6d2-7ffca2f9fbb0"
                        },
                        "amount": {
                          "type": "string",
                          "example": 0.01
                        },
                        "currency": {
                          "type": "string",
                          "example": "BRL"
                        },
                        "status": {
                          "type": "string",
                          "example": "expired"
                        },
                        "payer_name": {
                          "type": "string",
                          "example": "Carlos Lima"
                        },
                        "payer_document": {
                          "type": "string",
                          "example": 11122233344
                        },
                        "expires_at": {
                          "type": "string",
                          "example": "2026-04-21 20:10:43-03:00"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2026-04-21 23:05:43+00:00"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Cash-In not found"
          }
        }
      }
    },
    "/api/v1/pix/cash-in/{cash_in_id}/cancel": {
      "post": {
        "tags": [
          "PIX Cash-In"
        ],
        "summary": "Cancel Cash-In",
        "operationId": "cancelCashIn",
        "description": "Cancels a pending PIX charge. Only works for charges with `pending` status.\n\n**Scope:** `pix:cashin:write`",
        "parameters": [
          {
            "name": "cash_in_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Cash-In transaction ID"
          },
          {
            "name": "x-key-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "your-api-key-id"
          },
          {
            "name": "x-secret-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "your-api-key-secret"
          }
        ],
        "responses": {
          "200": {
            "description": "Cash-In cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Cash-in cancelled successfully"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Cash-In cannot be cancelled (not in pending status)"
          }
        }
      }
    },
    "/api/v1/pix/reversals": {
      "post": {
        "tags": [
          "PIX Reversals"
        ],
        "summary": "Create Reversal",
        "operationId": "createReversal",
        "description": "Creates a reversal (refund) of a received PIX payment.\n\n**Scope:** `pix:reversals:write`",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "external_id",
                  "end_to_end_id"
                ],
                "properties": {
                  "amount": {
                    "type": "string",
                    "description": "Amount in BRL to refund (e.g. \"10.00\" = R$10.00)",
                    "example": "10.00"
                  },
                  "external_id": {
                    "type": "string",
                    "description": "Unique reversal ID in your system",
                    "example": "rev-unique-id-001"
                  },
                  "end_to_end_id": {
                    "type": "string",
                    "description": "EndToEndID of the original received PIX payment",
                    "example": "E35547753202201201450u34sDGd19l2"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Reason for the reversal (optional)",
                    "example": "Customer requested refund"
                  },
                  "refund_code": {
                    "type": "string",
                    "description": "Code identifying the refund motive",
                    "example": "MD06"
                  },
                  "customer_message": {
                    "type": "string"
                  },
                  "user_metadata": {
                    "type": "object"
                  },
                  "tags": {
                    "type": "array",
                    "description": "Tags for categorization (optional)",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "refund",
                      "customer-request"
                    ]
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Prevents duplicate reversals",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "responses": {
          "200": {
            "description": "Reversal created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReversalResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "409": {
            "description": "Duplicate reversal (idempotency key already used)"
          }
        }
      },
      "get": {
        "tags": [
          "PIX Reversals"
        ],
        "summary": "List Reversals",
        "operationId": "listReversals",
        "description": "Lists all PIX reversals with pagination and filter support. This endpoint is not implemented as of yet. Use [GET /reversals/:reversal_id](api:GET/api/v1/pix/reversals/{reversal_id}) to retrieve a specific reversal.\n\n**Scope:** `pix:reversals:read`",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 100
            },
            "description": "Maximum number of results (max 100)",
            "example": 10
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filter by creation date (after)",
            "example": "2024-01-01"
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filter by creation date (before)",
            "example": "2024-12-31"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "processing",
                "success",
                "failed"
              ]
            },
            "description": "Filter by status",
            "example": "success"
          },
          {
            "name": "end_to_end_ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by EndToEndID(s)"
          },
          {
            "name": "external_ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by external ID(s)"
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented"
          }
        }
      }
    },
    "/api/v1/pix/reversals/{reversal_id}": {
      "get": {
        "tags": [
          "PIX Reversals"
        ],
        "summary": "Get Reversal by ID",
        "operationId": "getReversal",
        "description": "Retrieves the status and details of a PIX reversal by its ID.\n\n**Scope:** `pix:reversals:read`",
        "parameters": [
          {
            "name": "reversal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Reversal ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Reversal details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReversalResponse"
                }
              }
            }
          },
          "404": {
            "description": "Reversal not found"
          }
        }
      }
    },
    "/api/v1/pix/cash-out": {
      "post": {
        "tags": [
          "PIX Cash-Out"
        ],
        "summary": "Create Cash-Out",
        "operationId": "createCashOut",
        "description": "Initiates a PIX payment (Cash-Out). This single endpoint supports three different payment flows depending on the fields provided:\n\n## Flow 1 — Via PIX Key\n\nSend a payment directly using the recipient's PIX key.\n**Required fields:** `amount`, `pix_key`, `pix_key_type`, `external_id`\n\n## Flow 2 — Via Bank Details\n\nSend a payment using the recipient's bank account details, without needing a PIX key.\n**Required fields:** `amount`, `receiver_name`, `receiver_document`, `receiver_ispb`, `receiver_branch`, `receiver_account`, `receiver_account_type`, `external_id`\n\n## Flow 3 — Via QR Code (Two-Step)\n\n1. First decode the QR Code via `POST /api/v1/pix/qrcode/decode`\n2. Use the returned `end_to_end_id` as the `X-Pix-Lookup-E2E` header in this call\n3. The system retrieves pre-decoded data and processes the payment (without decoding again)\n\n**Required fields:** `amount` + header `X-Pix-Lookup-E2E`\n\n**Scope:** `pix:cashout:write`",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "external_id",
                  "pix_key",
                  "pix_key_type",
                  "receiver_name",
                  "receiver_document"
                ],
                "properties": {
                  "external_id": {
                    "type": "string",
                    "description": "Unique cash-out ID in your system (used for idempotency and status lookup)",
                    "example": "ext_cashout_001"
                  },
                  "amount": {
                    "type": "string",
                    "description": "Payment amount in BRL",
                    "example": "1000.00"
                  },
                  "pix_key": {
                    "type": "string",
                    "description": "Recipient PIX key",
                    "example": "12345678901"
                  },
                  "pix_key_type": {
                    "type": "string",
                    "enum": [
                      "CPF",
                      "CNPJ",
                      "EMAIL",
                      "PHONE",
                      "EVP"
                    ],
                    "description": "PIX key type",
                    "example": "CPF"
                  },
                  "receiver_name": {
                    "type": "string",
                    "description": "Recipient full name",
                    "example": "João da Silva"
                  },
                  "receiver_document": {
                    "type": "string",
                    "description": "Recipient CPF (11 digits) or CNPJ (14 digits)",
                    "example": "98765432100"
                  },
                  "receiver_ispb": {
                    "type": "string",
                    "description": "Recipient bank ISPB (optional — resolved from PIX key if omitted)",
                    "example": "00000000"
                  },
                  "receiver_branch": {
                    "type": "string",
                    "description": "Recipient branch number (optional)",
                    "example": "0001"
                  },
                  "receiver_account": {
                    "type": "string",
                    "description": "Recipient account number (optional)",
                    "example": "12345678"
                  },
                  "receiver_account_type": {
                    "type": "string",
                    "enum": [
                      "checking",
                      "savings",
                      "salary",
                      "payment"
                    ],
                    "description": "Recipient account type (optional)",
                    "example": "checking"
                  },
                  "description": {
                    "type": "string",
                    "description": "Payment description",
                    "example": "Supplier payment"
                  },
                  "reference": {
                    "type": "string",
                    "description": "Your internal reference ID",
                    "example": "pay-001"
                  },
                  "br_code": {
                    "type": "string",
                    "description": "Raw BR Code from a decoded QR (optional — use instead of pix_key when paying via QR)",
                    "example": "00020126..."
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Custom key-value metadata"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Prevents duplicate payments (recommended)",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          {
            "name": "X-Pix-Lookup-E2E",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "EndToEndID from a previous QR Code decode (required for Flow 3). Obtained from `POST /api/v1/pix/qrcode/decode`."
          }
        ],
        "responses": {
          "200": {
            "description": "Cash-Out initiated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "transaction_id": {
                      "type": "string",
                      "example": "1c1331ce-a9ff-43c5-8ed2-31a98e61a1ab"
                    },
                    "status": {
                      "type": "string",
                      "example": "queued"
                    },
                    "amount": {
                      "type": "string",
                      "example": 50.0
                    },
                    "message": {
                      "type": "string",
                      "example": "Cash-out queued for processing"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          }
        }
      }
    },
    "/api/v1/pix/cash-out/query": {
      "post": {
        "tags": [
          "PIX Cash-Out"
        ],
        "summary": "List / query Cash-Outs",
        "operationId": "queryCashOuts",
        "description": "Returns a paginated list of Cash-Out transactions matching the given filters.\n**Scope:** `pix:cashout:read`",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "start_date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Filter transactions from this date (ISO 8601)",
                    "example": "2026-07-01T00:00:00Z"
                  },
                  "end_date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Filter transactions until this date (ISO 8601)",
                    "example": "2026-07-22T23:59:59Z"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "processing",
                      "completed",
                      "failed",
                      "returned"
                    ],
                    "description": "Filter by transaction status"
                  },
                  "external_id": {
                    "type": "string",
                    "description": "Filter by your external/reference ID"
                  },
                  "limit": {
[...]
