openapi: 3.0.0
info:
  title: BRZ API
  description: >-
    Complete PIX gateway API by BRZ. Direct integration with
    BACEN — no external providers.


    ## Base URLs


    **Base URL:** `https://api.brzip.com.br`


    All endpoints use the base path `/api/v1/`.


    ## Authentication


    The API uses two authentication methods:


    ### 1. Bearer Token (JWT) — Most endpoints


    All endpoints **except Cash-In** use a Bearer Token:

    ```
    Authorization: Bearer <your-jwt-token>
    ```

    Obtain a JWT by calling `POST /api/v1/auth/bearer-token` with your API Key
    credentials.


    ### 2. API Key — Cash-In endpoints only


    Cash-In endpoints (`/api/v1/pix/cash-in/*`) use two headers:

    ```
    x-key-id: <your-key-id>
    x-secret-key: <your-secret-key>
    ```



    ## Rate Limits


    - Default: 50 req/s per client, burst up to 100.

    - When exceeded, returns HTTP 429 with `Retry-After` header.


    ## Common Headers


    | Header | Required | Description |
    |--------|----------|-------------|
    | `Authorization` | Yes (Bearer) | `Bearer <jwt>` for PIX endpoints |
    | `x-key-id` | Yes (Cash-In) | API Key ID |
    | `x-secret-key` | Yes (Cash-In) | API Key Secret |
    | `X-Idempotency-Key` | Recommended | Prevents duplicate operations (UUID) |
    | `Content-Type` | Yes (POST/PUT) | Always `application/json` |


    ---


    ## Onboarding Flow (Step by Step)


    ### Step 1 — Create Account


    Create your account with `POST /api/v1/auth/signup`. The response includes
    your `keyId` and `secretKey` — save them securely, the secret is shown only
    once. OTP codes will be sent via email and SMS.


    ### Step 1b — Verify Email


    Verify your email with `POST /api/v1/auth/verify-email` using the OTP code
    received. If you did not receive the code, resend it with
    `POST /api/v1/auth/resend-otp` (max 5 per hour) before retrying.


    ### Step 1c — Verify Phone


    Verify your phone with `POST /api/v1/auth/verify-phone` using the OTP code
    received via SMS. If you did not receive the code, use
    `POST /api/v1/auth/resend-otp` to request a new one.


    ### Step 2 — Log In to Continue Onboarding


    Log in with `POST /api/v1/auth/login` (email + password) to obtain a
    session token. This token is required to access the document upload
    endpoints below. It is a temporary onboarding token, not the production
    Bearer Token you will use to call the API.


    ### Step 3 — Submit Documents (3 stages)


    1. Get pre-signed URLs with `POST /api/v1/auth/documents/presigned-urls`

    2. `PUT` each file directly to the S3 URL (raw binary, no FormData)

    3. Confirm uploads with `POST /api/v1/auth/documents/confirm`


    **Individual documents:** `cpf_frente`, `cpf_verso`, `selfie_com_cpf`,
    `comprovante_residencia`

    **Business documents:** `cnpj`, `contrato_social`,
    `comprovante_residencia_empresa`


    ### Step 4 — Wait for Approval


    Track your status with `GET /api/v1/auth/status`. Wait for team approval.


    ### Step 5 — Generate Bearer Token


    After approval, generate your production Bearer Token with
    `POST /api/v1/auth/bearer-token` using your `keyId` and `secretKey` as
    headers (`x-key-id` / `x-secret-key`). This is the JWT you will use in the
    `Authorization: Bearer <token>` header for all API calls.


    ### Step 6 — Register PIX Key


    Register a PIX key in DICT/BACEN with `POST /api/v1/pix/keys`. Just send
    `{"key_type": "EVP"}` — account data is automatically populated from your
    onboarding!


    ### Step 7 — Ready to Operate!


    Now you can create charges (Cash-In), make transfers, and check your
    balance.


    ---
  version: 1.0.0
servers:
  - url: https://api.brzip.com.br
    description: Production
    x-fern-server-name: Production
  - url: https://api.stg.brzip.com.br
    description: Staging
    x-fern-server-name: Staging
  - url: https://qrcode.brzip.com.br
    description: PIX QR Code Server (public, no auth)
    x-fern-server-name: QrCodeServer
components:
  schemas:
    PixKeyReadResponse:
      type: object
      properties:
        id:
          type: string
          description: PIX key identifier 
          example: 4a9c64d5-2499-411c-93de-c134845fdb41
        client_id:
          type: string
          description: Client identifier
          example: a9376f19-ac76-49fe-9a0a-4d566660ebf8
        account_id:
          type: string
          description: Account identifier
          example: ""
        key_type:
          type: string
          enum: [CPF, CNPJ, EMAIL, PHONE, EVP]
          description: Type of PIX key
          example: EVP
        key_value:
          type: string
          description: Registered PIX key value
          example: c9b8d38f-cc40-4531-844e-16055448bf59
        ispb:
          type: string
          description: Bank ISPB code
          example: "12345678"
        branch_number:
          type: string
          description: Branch number
          example: "0001"
        account_type:
          type: string
          description: Account type
          example: CACC
        account_number:
          type: string
          description: Account number
          example: 12345-6
        person_type:
          type: string
          description: Person type
          example: NATURAL_PERSON
        tax_id:
          type: string
          description: Tax identifier
          example: "12345678901"
        holder_name:
          type: string
          description: Account holder name
          example: "Fulano da Silva"
        dict_key_id:
          type: string
          description: DICT key identifier
          example: ""
        dict_status:
          type: string
          description: DICT registration status
          example: active
        created_at:
          type: string
          description: Creation timestamp
          example: "2026-04-18T12:04:59-03:00"
        updated_at:
          type: string
          description: Last update timestamp
          example: "2026-04-18T12:05:00-03:00"
    PixKeyWriteResponse:
      type: object
      description: Flat registration result returned on HTTP 201.
      properties:
        id:
          type: string
          description: PIX key identifier
          example: 4a9c64d5-2499-411c-93de-c134845fdb41
        key_type:
          type: string
          enum: [CPF, CNPJ, EMAIL, PHONE, EVP]
          description: Type of PIX key
          example: EVP
        key_value:
          type: string
          description: Registered PIX key value (generated by BACEN for EVP)
          example: c4501bd5-884b-4bd7-ae63-0f22fb889b7d
        dict_status:
          type: string
          description: DICT registration status
          example: active
        dict_key_id:
          type: string
          description: DICT key identifier (when available)
          example: ""
        created_at:
          type: string
          description: Registration timestamp
          example: "2026-04-18T18:53:14-03:00"
    LimitRequestResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Limit request ID
          example: 25fc934e-bee7-4ac9-a4c8-1bbfd99fbccc
        account_id:
          type: string
          description: Account ID
          example: cc630098-dcee-4bd0-b0de-4e00bbeef4d6
        type:
          type: string
          enum: [pix_in, pix_out, ted, boleto, total]
          description: Limit type
          example: pix_in
        period:
          type: string
          enum: [daily, nightly, monthly]
          description: Time period
          example: daily
        current_amount:
          type: string
          description: Current limit amount
          example: "0"
        requested_amount:
          type: string
          description: Requested limit amount
          example: "10"
        reason:
          type: string
          description: Reason for the request
          example: ""
        status:
          type: string
          description: Request status
          example: pending
        expires_at:
          type: string
          format: date-time
          description: Request expiration timestamp
          example: "2026-04-21T23:00:20.434052014Z"
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: "2026-04-18T23:00:20.434052425Z"
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: "2026-04-18T23:00:20.434052575Z"
    PixKeyDeleteResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates if the key was successfully deleted
          example: true
        message:
          type: string
          description: Deletion result message
          example: "PIX key deleted successfully"
    PixKeyClaimResponse:
      type: object
      description: >-
        PIX key claim (flat object, no envelope). Returned by claim create,
        confirm and cancel.
      properties:
        claim_id:
          type: string
          example: a3f1c9d2-7b4e-4f8a-9d3e-2b5c6f7a8e9d
        claim_type:
          type: string
          enum: [PORTABILITY, OWNERSHIP]
          example: PORTABILITY
        key_type:
          type: string
          example: EMAIL
        key:
          type: string
          example: user@example.com
        status:
          type: string
          example: OPEN
        direction:
          type: string
          description: Claim direction relative to this participant
          example: outbound
        claimer:
          type: object
          properties:
            participant:
              type: string
              description: Claimer ISPB
              example: "12345678"
            branch:
              type: string
              example: "0001"
            account_number:
              type: string
              example: "1234567"
            account_type:
              type: string
              example: CACC
            person_type:
              type: string
              example: NATURAL_PERSON
            tax_id:
              type: string
              example: "12345678909"
            name:
              type: string
              example: João da Silva
        created_at:
          type: string
          example: "2026-07-22T10:30:00Z"
    ReversalResponse:
      type: object
      properties:
        id:
          type: string
          example: rev_123
        external_id:
          type: string
          example: a39778df-1c0b-4e37-8d35-dcfa623b66f2
        original_end_to_end_id:
          type: string
          example: E35547753202201201450u34sDGd19l2
        refund_end_to_end_id:
          type: string
          example: E24722685202604100755GNZ5DGMBWZK
        amount:
          type: string
          example: 2.50
        currency:
          type: string
          example: BRL
        status:
          type: string 
          example: completed
        refund_code:
          type: string
          example: MD06
        created_at:
          type: string
          example: 2026-04-21T23:05:43Z
    CashOutStatus:
      type: object
      properties:
        transaction_id:
          type: string
          example: ed9964df-4b36-40fd-8d03-707631c8db7c
        external_id:
          type: string
          example: 10f2ff67-c1f5-47a2-a855-7958fe3a3474
        amount:
          type: string
          example: 50.00
        currency:
          type: string
          example: BRL
        status:
          type: string
          example: completed
        pix_key:
          type: string
          example: a9570e91-ba2c-461a-9523-0371b9ab9177
        pix_key_type:
          type: string
          example: evp
        receiver_name:
          type: string
          example: John Doe
        receiver_document:
          type: string
          example: 48414628990
        payer: 
          type: object
          properties:
            name:
              type: string
              example: John Doe
            document:
              type: string
              example: 48414628990
            bank:
              type: object
              properties:
                ispb:
                  type: string
                  example: 24722685
                participant_name:
                  type: string
                  example: BRX
                agency:
                  type: string
                  example: "0001"
                account:
                  type: string
                  example: 12345678
                account_type:
                  type: string
                  example: payment
        receiver:
          type: object
          properties: 
            name:
              type: string
              example: Jane Doe
            document:
              type: string
              example: 42090392339
            bank:
              type: object
              properties:
                ispb:
                  type: string
                  example: "00000000"
                participant_name:
                  type: string
                  example: BCO DO BRASIL S.A
                agency:
                  type: string
                  example: "0001"
                account:
                  type: string
                  example: 87654321
                account_type:
                  type: string
                  example: payment
        end_to_end_id:
          type: string
          example: E24722685202604220043OFIJMVJTD9T
        error_code:
          type: string
        error_message:
          type: string
        completed_at:
          type: string
          example: 2026-04-22T00:45:49Z
        created_at:
          type: string
          example: 2026-04-22T00:45:47Z
    P2PLookup:
      type: object
      properties:
        account_id:
          type: string
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        client_id:
          type: string
          example: c1d2e3f4-5678-90ab-cdef-1234567890ab
        name:
          type: string
          example: "Maria Silva"
        masked_document:
          type: string
          example: "123.***.***-01"
        person_type:
          type: string
          example: "individual"
        branch_number:
          type: string
          example: "0001"
        account_number:
          type: string
          example: "987654"
        account_type:
          type: string
          example: "payment"
        pix_key_type:
          type: string
          example: "email"
        pix_key_value:
          type: string
          example: "maria@exemplo.com"
    P2PTransferResponse:
      type: object
      description: >-
        Result of a P2P transfer. Returned flat (no `success`/`data` wrapper) —
        the orchestrator response is passed through verbatim.
      properties:
        transaction_id:
          type: string
          example: "f1e2d3c4-b5a6-7890-1234-567890abcdef"
        external_id:
          type: string
          example: "p2p-transfer-001"
        status:
          type: string
          description: Transfer status (starts as `pending`).
          example: "pending"
        amount:
          type: string
          description: Decimal amount with two decimal places.
          example: "150.00"
        currency:
          type: string
          example: "BRL"
        created_at:
          type: string
          format: date-time
          example: "2026-03-23T14:30:00Z"
    P2PAuthorization:
      type: object
      description: >-
        A P2P authorization (hold + capture flow). Returned flat (no
        `success`/`data` wrapper) — the orchestrator response is passed through
        verbatim.
      properties:
        id:
          type: string
          description: Authorization identifier (use it in capture/cancel/get calls).
          example: "a3f1c9d2-7b4e-4f8a-9d3e-2b5c6f7a8e9d"
        external_id:
          type: string
          example: "p2p-auth-001"
        status:
          type: string
          description: Authorization status.
          enum:
            - pending
            - authorized
            - capturing
            - cancelling
            - captured
            - partially_captured
            - cancelled
            - expired
            - failed
          example: "authorized"
        amount:
          type: string
          description: Authorized amount, two decimal places.
          example: "150.00"
        captured_amount:
          type: string
          description: Amount already captured, two decimal places.
          example: "0.00"
        currency:
          type: string
          example: "BRL"
        receiver_account_id:
          type: string
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        expires_at:
          type: string
          format: date-time
          example: "2026-03-24T14:30:00Z"
        created_at:
          type: string
          format: date-time
          example: "2026-03-23T14:30:00Z"
    Webhook:
      type: object
      description: A registered webhook subscription.
      properties:
        id:
          type: string
          format: uuid
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        url:
          type: string
          format: uri
          example: https://api.example.com/webhooks/pix
        events:
          type: array
          description: >-
            Subscribed event types. An empty list or `["*"]` means all events.
          items:
            type: string
          example:
            - pix.cash_in.confirmed
            - pix.cash_in.received
            - pix.cash_out.completed
        status:
          type: string
          enum:
            - active
            - inactive
          example: active
        last_triggered_at:
          type: string
          format: date-time
          nullable: true
          description: When an event was last matched for this webhook.
        last_delivery_at:
          type: string
          format: date-time
          nullable: true
          description: When a delivery was last attempted for this webhook.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - url
        - events
        - status
        - created_at
        - updated_at
    WebhookDelivery:
      type: object
      description: A single webhook delivery attempt record.
      properties:
        id:
          type: string
          format: uuid
          example: a3f1c9d2-4b7e-4f9a-8c2d-1e2f3a4b5c6d
        webhook_id:
          type: string
          format: uuid
          nullable: true
          example: d9f8e7c6-b5a4-4321-9f8e-7d6c5b4a3f2e
        transaction_id:
          type: string
          nullable: true
          example: f1e2d3c4-b5a6-7890-1234-56789abcdef0
        event_type:
          type: string
          example: pix.cash_in.confirmed
        status:
          type: string
          description: Delivery status (lowercase).
          enum:
            - delivered
            - pending
            - failed
          example: delivered
        payload:
          type: object
          description: The event payload that was (or will be) POSTed to your URL.
          additionalProperties: true
        response_status:
          type: integer
          nullable: true
          description: HTTP status code returned by your endpoint on the last attempt.
          example: 200
        attempts:
          type: integer
          example: 1
        delivered_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
      required:
        - id
        - event_type
        - status
        - attempts
        - created_at
    TenantClient:
      type: object
      description: >-
        Summary view of a sub-client belonging to the authenticated tenant.
        Returned by the tenant client list and search endpoints.
      properties:
        id:
          type: string
          format: uuid
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        name:
          type: string
          example: João da Silva
        email:
          type: string
          format: email
          example: joao.silva@example.com
        person_type:
          type: string
          enum:
            - individual
            - company
          example: individual
        document:
          type: string
          description: CPF (individual) or CNPJ (company), whichever is set.
          example: "12345678909"
        trade_name:
          type: string
          description: Trade name (company only). Omitted when empty.
          example: Silva Comércio ME
        status:
          type: string
          example: active
        created_at:
          type: string
          format: date-time
      required:
        - id
        - name
        - email
        - person_type
        - document
        - status
        - created_at
    TenantClientDetail:
      type: object
      description: >-
        Enriched view of a single sub-client (holder identification, contacts,
        configured tax rates, and full address). Returned by
        `GET /api/v1/pix/tenants/clients/{clientId}`. Empty string / `"0"`
        fields are omitted from the response.
      properties:
        id:
          type: string
          format: uuid
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        name:
          type: string
          example: João da Silva
        email:
          type: string
          format: email
          example: joao.silva@example.com
        person_type:
          type: string
          enum:
            - individual
            - company
          example: individual
        document:
          type: string
          description: CPF (individual) or CNPJ (company), whichever is set.
          example: "12345678909"
        cpf:
          type: string
          description: CPF (individual). Omitted when empty.
          example: "12345678909"
        cnpj:
          type: string
          description: CNPJ (company). Omitted when empty.
          example: "12345678000199"
        trade_name:
          type: string
          example: Silva Comércio ME
        status:
          type: string
          example: active
        created_at:
          type: string
          format: date-time
        company_name:
          type: string
          description: Legal company name (company only).
        first_name:
          type: string
        middle_name:
          type: string
        last_name:
          type: string
        birth_date:
          type: string
          format: date-time
          nullable: true
        gender:
          type: string
        nationality:
          type: string
        citizenship:
          type: string
        marital_status:
          type: string
        father_name:
          type: string
        primary_id_type:
          type: string
        primary_id_number:
          type: string
        phone:
          type: string
        additional_phone:
          type: string
        additional_email:
          type: string
        cash_in_tax_type:
          type: string
          description: >-
            Configured cash-in tax mode. Always present; empty string when not
            configured.
          enum:
            - percentage
            - fixed
            - ""
          example: percentage
        cash_in_tax_value:
          type: string
          description: Cash-in tax value as a numeric string. `"0"` when not configured.
          example: "0.03"
        cash_out_tax_type:
          type: string
          enum:
            - percentage
            - fixed
            - ""
          example: fixed
        cash_out_tax_value:
          type: string
          description: Cash-out tax value as a numeric string. `"0"` when not configured.
          example: "1.50"
        address_street:
          type: string
        address_number:
          type: string
        address_complement:
          type: string
        address_neighborhood:
          type: string
        address_city:
          type: string
        address_state:
          type: string
        address_zip_code:
          type: string
        address_country:
          type: string
      required:
        - id
        - name
        - email
        - person_type
        - document
        - status
        - created_at
        - cash_in_tax_type
        - cash_in_tax_value
        - cash_out_tax_type
        - cash_out_tax_value
    MedRefund:
      type: object
      description: >-
        A MED (Mecanismo Especial de Devolução) refund request. Returned as a
        flat object by the MED endpoints (no `success`/`data` wrapper).
      properties:
        id:
          type: string
          format: uuid
          description: Internal MED request identifier
          example: "7a3b2c1d-4e5f-6a7b-8c9d-0e1f2a3b4c5d"
        external_refund_id:
          type: string
          description: >-
            DICT external refund identifier (present once the refund has been
            registered with the rail).
          example: "RD12345678901234567890123456789012"
        end_to_end_id:
          type: string
          description: End-to-end ID of the original PIX transaction
          example: "E54811417202603071234abcdef123456"
        client_id:
          type: string
          format: uuid
          example: "a612b202-6690-4d24-ba35-2e36c8f3c0ce"
        amount:
          type: string
          description: Amount to recover in BRL
          example: "500.00"
        refund_reason:
          type: integer
          description: >-
            BACEN refund reason code: `1` = fraud, `2` = operational flaw,
            `3` = undisclosed.
          example: 1
        details:
          type: string
          description: Free-text details about the reason for the MED request
          example: "Cliente relata estelionato via engenharia social"
        status:
          type: string
          enum: [OPEN, WAITING_RETURN, UNDER_REVIEW, CANCELLED, COMPLETED]
          description: Current MED status (initial status is `OPEN`)
          example: "OPEN"
        direction:
          type: string
          enum: [INBOUND, OUTBOUND]
          description: >-
            `OUTBOUND` = refund requested by you (payer/victim side);
            `INBOUND` = refund request received against you (payee side).
          example: "OUTBOUND"
        defense_reason:
          type: string
          description: Defense reason submitted for an inbound MED
        defense_submitted_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
          example: "2026-07-22T14:30:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2026-07-22T14:30:00Z"
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          description: Human-readable error message
          example: "Account not found"
        code:
          type: string
          description: Machine-readable error code
          example: "ACCOUNT_NOT_FOUND"
        correlation_id:
          type: string
          format: uuid
          description: Request correlation ID for support tracing
          example: "550e8400-e29b-41d4-a716-446655440000"
    AccountReasonRequest:
      type: object
      required:
        - reason
      properties:
        reason:
          type: string
          maxLength: 500
          description: Reason for the state change (required, max 500 characters)
          example: "Suspicious activity detected"
    AccountStateChangeResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            account_id:
              type: string
              format: uuid
              example: "a612b202-6690-4d24-ba35-2e36c8f3c0ce"
            status:
              type: string
              description: Resulting account status (lowercase)
              enum: [active, blocked, closed, inactive]
              example: "active"
    AccountStatusResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "a612b202-6690-4d24-ba35-2e36c8f3c0ce"
        account_number:
          type: string
          example: "98765432"
        branch_code:
          type: string
          example: "0001"
        account_type:
          type: string
          example: "CHECKING"
        state:
          type: string
          description: Account state (uppercase, from the account service)
          enum: [RESERVED, ACTIVE, SUSPENDED, BLOCKED, CLOSED, INACTIVE]
          example: "ACTIVE"
        state_reason:
          type: string
          description: Present only when a reason was recorded for the current state
          example: "KYC approved"
        kyc_level:
          type: integer
          example: 2
        created_at:
          type: string
          format: date-time
          example: "2026-07-22T14:30:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2026-07-22T14:30:00Z"
        activated_at:
          type: string
          format: date-time
          description: Present only once the account has been activated
          example: "2026-07-22T15:00:00Z"
    BenefitFundRequest:
      type: object
      required:
        - amount
      properties:
        amount:
          type: string
          description: Amount to fund, as a string with 2 decimals (must be > 0)
          example: "10000.00"
        transaction_id:
          type: string
          description: Optional idempotency/reference id (echoed back)
          example: "fund_2026_08_001"
        metadata:
          type: object
          additionalProperties: true
          description: Optional free-form metadata
    BoletoPaymentResponse:
      type: object
      description: >-
        Flat boleto payment response proxied verbatim from the payment
        orchestrator. Used by pay (POST) and get (GET).
      properties:
        transaction_id:
          type: string
          format: uuid
          description: Payment/transaction identifier (use to check status)
          example: "7f3c2a1b-4d5e-6f7a-8b9c-0d1e2f3a4b5c"
        external_id:
          type: string
          description: Your internal reference echoed back
          example: "boleto-pay-001"
        status:
          type: string
          enum: [pending, processing, completed, failed, cancelled, blocked, refunded, pending_manual_review, expired]
          example: "pending"
        amount:
          type: string
          description: Amount as a string with 2 decimals
          example: "100.00"
        currency:
          type: string
          example: "BRL"
        created_at:
          type: string
          format: date-time
          example: "2026-07-22T10:30:00Z"
        updated_at:
          type: string
          format: date-time
          description: Present on GET responses
          example: "2026-07-22T10:45:00Z"
    WalletListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            wallets:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                    description: Wallet identifier
                    example: "b1c2d3e4-f5a6-7890-bcde-1234567890ab"
                  account_id:
                    type: string
                    description: Account the wallet belongs to
                    example: "a612b202-6690-4d24-ba35-2e36c8f3c0ce"
                  wallet_type:
                    type: string
                    description: Wallet type (e.g. `checking`)
                    example: "checking"
                  benefit_code:
                    type: string
                    description: Benefit code, present only for benefit-pocket wallets
                    example: "VR"
                  available:
                    type: string
                    description: Funds available for immediate use
                    example: "1250.50"
                  blocked:
                    type: string
                    description: Funds held for pending transactions
                    example: "50.00"
                  total:
                    type: string
                    description: available + blocked
                    example: "1300.50"
                  currency:
                    type: string
                    description: Currency code (e.g. `BRL`)
                    example: "BRL"
                  updated_at:
                    type: string
                    format: date-time
                    description: Timestamp of last balance update
                    example: "2026-07-22T10:30:00Z"
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        JWT token obtained via `POST /api/v1/auth/bearer-token`. Required for all
        endpoints except Cash-In (which uses API Key headers).
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-key-id
      description: >-
        API Key authentication. Send the key id in `x-key-id` and the
        secret in `x-secret-key`. Accepted as an alternative to `bearerAuth`
        on most endpoints; Cash-In accepts only API Key.
security:
  - bearerAuth: []
tags:
  - name: Authentication
    description: >-
      Generate and manage authentication tokens for the BRZ API.


      Use `POST /api/v1/auth/bearer-token` with your API Key credentials to obtain
      a JWT token required for most API endpoints.
  - name: Service Health
    description: >-
      Health check endpoints to verify service availability. No authentication
      required.
  - name: PIX Keys
    description: >-
      Manage PIX keys registered in the BACEN DICT (Directory of Transactional
      Account Identifiers).


      **Authentication:** Bearer Token

      **Required scopes:** `pix:keys:read` and/or `pix:keys:write`
  - name: PIX Balance
    description: >-
      Query account balance information.


      **Authentication:** Bearer Token

      **Scope:** `pix:balance:read`
  - name: PIX Limits
    description: >-
      Query and manage PIX transaction limits.


      **Authentication:** Bearer Token


      **Scope:** `pix:limits:read` / `pix:limits:write`


      **Important:** Approved limits that are not consistently used will be
      automatically downgraded. If your limit is reduced due to inactivity,
      you will need to submit a new limit increase request.
  - name: PIX Cash-In
    description: >-
      Create and manage PIX charges (Cash-In). Generates a QR Code for the
      payer.


      **Authentication:** API Key via headers `x-key-id` + `x-secret-key`,
      OR Bearer Token.


      **Endpoints:**

      - `POST /api/v1/pix/cash-in/qrcode` — Create charge

      - `GET /api/v1/pix/cash-in/{id}` — Query status

      - `POST /api/v1/pix/cash-in/{id}/cancel` — Cancel charge


      **Financial fields (CobV — charge with due date):**

      - `due_date` — Due date (YYYY-MM-DD)

      - `penalty` — Late fee after due date (`mode` + `value`)

      - `interest` — Daily interest (`mode` + `value`)

      - `discount` — Early payment discount (`mode` + `value` + `fixed_dates[]`)

      - `rebate` — Rebate/abatement (`mode` + `value`)

  - name: PIX Reversals
    description: >-
      Manage reversals (refunds) of received PIX payments.


      **Authentication:** Bearer Token


      **Required scopes:**

      - `pix:reversals:write` to create reversals

      - `pix:reversals:read` to query reversals
  - name: PIX Cash-Out
    description: >-
      Send PIX payments (Cash-Out) via Temporal workflows.


      **Authentication:** Bearer Token

      **Scope:** `pix:cashout:write` / `pix:cashout:read`
  - name: MED
    description: >-
      Respond to inbound MED (Special Return Mechanism) requests and list them
      by status. MED is a BACEN mechanism for returning PIX funds in cases of
      fraud or operational errors.


      **Authentication:** Bearer Token

      **Scope:** `pix:med:read` / `pix:med:write`
  - name: Webhooks
    description: >-
      Register URLs to receive real-time HTTP POST notifications when events
      occur in your account — PIX payments, MED requests, onboarding updates,
      and more.


      **Scopes:** `webhooks:read` (list, get, deliveries, activity) ·
      `webhooks:write` (create, update, delete, rotate-secret, resend)


      **Signature verification.** Every delivery is signed with HMAC-SHA256 and
      carries three headers:

      - `X-Webhook-Signature`: `sha256=<hex>` — the signature.

      - `X-Webhook-Timestamp`: Unix seconds when the delivery was signed.

      - `X-Webhook-ID`: the delivery identifier.

      The signed string is `"{timestamp}.{raw_body}"` and the key is the
      webhook's `secret`. To verify: recompute
      `"sha256=" + hex(hmac_sha256(secret, timestamp + "." + raw_body))` and
      compare it against `X-Webhook-Signature` in constant time. Reject the
      delivery if the timestamp is outside your tolerance window (replay
      protection).


      For the full integration guide including supported events, payload
      examples, signature verification and retry behaviour, see the [Webhooks
      Integration guide](/guides/webhooks-integration).
  - name: P2P
    description: >-
      Look up internal accounts and execute peer to peer (P2P) transfers.

      **Authentication:** Bearer token

      **Scope:** `pix:p2p:read` / `pix:p2p:write`
  - name: Accounts
    description: >-
      Manage account state transitions — activate, block, or reserve accounts.


      These endpoints are used to manage the lifecycle of a payment account after
      it has been created through the onboarding flow. Accounts start in
      `pending_kyc` state and must be activated before they can transact.


      **Account states:** `pending_kyc → active → suspended | blocked | closed`


      **Authentication:** Bearer token
  - name: Boleto
    description: >-
      Decode barcode data and make boleto payments using the BRZ API.


      Boleto processing is handled through the payment orchestrator and settled
      via the Celcoin integration. Supports both boleto payments (paying a
      third-party bill) and boleto issuance (charging your customers).


      **Authentication:** Bearer token


      **Idempotency:** Always include `X-Idempotency-Key` when creating payments.
  - name: Wallets
    description: >-
      List the wallets owned by the authenticated client (checking plus any
      benefit pockets) with real-time balances. Ownership is scoped to the
      `client_id` in your token. Balances are cached (5-minute TTL) and
      invalidated automatically by ledger events.


      **Authentication:** Bearer token or API Key. **Scope:** `pix:balance:read`.
  - name: Participants
    description: >-
      Query the list of financial institutions participating in the PIX network
      (STR/COMPE directory).


      Useful for validating ISPBs, looking up bank names, and checking PIX
      participation status before initiating transfers.


      **Authentication:** Bearer token
  - name: Tenant Clients
    description: >-
      List, search, and inspect the sub-clients that belong to your tenant, and
      create new client identities. Sub-clients are scoped to the tenant of the
      authenticated caller — you can only see clients under your own tenant.


      **Authentication:** Bearer token (list/search/detail also accept the `*`
      scope). Client creation additionally accepts API Key.


      **Scopes:** `pix:tenants:read` (list/search/detail), `clients:write`
      (create).
  - name: PIX QR Code Server
    description: >-
      Public endpoints served by the BRZ QR Code server at `qrcode.brzip.com.br`.


      These endpoints resolve PIX QR code access tokens to signed JWS payloads
      (RFC 7515) containing the full EMV QRCODE data. No authentication is
      required — security is enforced through opaque access tokens and
      expiration.


      **Base URL:** `https://qrcode.brzip.com.br`

      **Authentication:** None (public endpoints)


      The response is a compact JWS (`application/jose`) with three
      base64url-encoded parts (`header.payload.signature`). The payload
      contains PIX-standard fields: `chave`, `valor`, `devedor`,
      `recebedor`, `calendario`, and `solicitacaoPagador`.


      The JWKS endpoint (`/pix/jwks`) exposes the public key for signature
      verification, compliant with BACEN PIX spec.
paths:
  /api/v1/auth/bearer-token:
    post:
      tags:
        - Authentication
      summary: Generate Bearer Token
      operationId: generateBearerToken
      description: >-
        Generate a JWT Bearer Token using your API Key credentials.


        **Authentication:** Pass your credentials via headers `x-key-id` and
        `x-secret-key`.


        **Request body:** Optionally specify the `scopes` array to limit
        the token's permissions. If omitted, the token includes all scopes
        available to your API Key.


        The returned token should be included in the `Authorization` header
        as `Bearer <token>` for all subsequent requests.
      security: []
      parameters:
        - name: x-key-id
          in: header
          required: true
          schema:
            type: string
          description: Your API Key ID, provided after account approval.
          example: "key_abc123def456"
        - name: x-secret-key
          in: header
          required: true
          schema:
            type: string
          description: Your API Secret Key, provided after account approval.
          example: "sec_xyz789ghi012"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                scopes:
                  type: array
                  description: >-
                    List of scopes to include in the token. If omitted, all
                    scopes available to the API Key are included.
                  items:
                    type: string
                    enum:
                      - pix:keys:read
                      - pix:keys:write
                      - pix:charges:read
                      - pix:charges:write
                      - pix:transfers:read
                      - pix:transfers:write
                      - pix:balance:read
                      - pix:cashin:read
                      - pix:cashin:write
                      - pix:cashout:read
                      - pix:cashout:write
                      - pix:p2p:read
                      - pix:p2p:write
                      - pix:claims:read
                      - pix:claims:write
                      - pix:infractions:read
                      - pix:infractions:write
                      - pix:limits:read
                      - pix:limits:write
                      - pix:med:read
                      - pix:med:write
                      - pix:reversals:read
                      - pix:reversals:write
                      - webhooks:read
                      - webhooks:write
                      - clients:write
                      - accounts:reserve
                      - accounts:write
                      - accounts:read
                      - accounts:activate
                      - accounts:block
                      - payments:boleto:read
                      - payments:boleto:write
                      - charges:boleto:write
                  example:
                    - pix:keys:read
                    - pix:keys:write
                    - pix:balance:read
                    - pix:cashout:write
                    - webhooks:read
                    - webhooks:write
      responses:
        '201':
          description: Token generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: JWT Bearer Token to use in the Authorization header.
                    example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  tokenType:
                    type: string
                    description: Token type — always `Bearer`.
                    example: "Bearer"
                  expiresIn:
                    type: integer
                    description: Token expiration time in seconds.
                    example: 3600
                  expiresAt:
                    type: string
                    format: date-time
                    description: Absolute expiration timestamp (ISO 8601).
                    example: "2026-07-26T15:30:00Z"
                  scopes:
                    type: array
                    description: List of scopes included in the token.
                    items:
                      type: string
                      example: pix:keys:read
                  refreshToken:
                    type: string
                    description: Token to refresh the Bearer Token when it expires.
                    example: "365d1f9d-ba6f-4643-8759-6654fa0ec947..."
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Invalid x-key-id or x-secret-key"
  /health:
    get:
      tags:
        - Service Health
      summary: Health Check
      operationId: healthCheck
      description: >-
        Basic service health check. Returns HTTP 200 if the service is running.


        **Response:** `{"status":"healthy","service":"brz-api"}`
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: healthy
                  service:
                    type: string
                    example: brz-api
  /ready:
    get:
      tags:
        - Service Health
      summary: Readiness Check
      operationId: readinessCheck
      description: >-
        Checks if the service is ready to accept requests. Returns HTTP 200 when
        ready.


        **Response:** `{"status":"ready","service":"brz-api"}`
      responses:
        '200':
          description: Service is ready
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ready
                  service:
                    type: string
                    example: brz-api
  /api/v1/pix/lookup:
    post:
      tags:
        - PIX Keys
      summary: DICT Key Lookup
      operationId: pixLookup
      description: >-
        Resolves a PIX key against the BACEN DICT database, returning the
        linked account's bank details and owner information.

        Use this to display recipient information before initiating a Cash-Out,
        or to validate that a key exists before attempting a transfer.

        A key that does not exist in DICT is **not** an error: the endpoint
        returns HTTP `200` with `{ "found": false }`. Only malformed input
        (`400`) or a DICT provider outage (`503`/`502`) produce error responses.

        **Scope:** `pix:keys:read`

        **Authentication:** Bearer token or API Key
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - key
                - key_type
              properties:
                key:
                  type: string
                  description: >-
                    PIX key to resolve (required). May be a CPF
                    (`12345678901`), CNPJ, email (`user@example.com`),
                    phone (`+5531999999999`) or EVP random key
                    (`a612b202-6690-4d24-ba35-2e36c8f3c0ce`).
                  example: "user@example.com"
                key_type:
                  type: string
                  enum: [CPF, CNPJ, EMAIL, PHONE, EVP]
                  description: Type of PIX key
      responses:
        '200':
          description: >-
            Lookup completed. `found` distinguishes a resolved key
            (`true`, with `account`/`owner`/`end_to_end_id`) from a key
            absent in DICT (`false`, other fields omitted).
          content:
            application/json:
              schema:
                type: object
                required:
                  - found
                properties:
                  found:
                    type: boolean
                    description: Whether the key was resolved in DICT
                    example: true
                  key_type:
                    type: string
                    description: Resolved key type (uppercase)
                    example: EVP
                  key:
                    type: string
                    description: Resolved PIX key value
                  account:
                    type: object
                    description: Recipient participant (present when found)
                    properties:
                      participant:
                        type: string
                        description: Recipient bank ISPB (8 digits)
                        example: "60701190"
                      participant_name:
                        type: string
                        description: Recipient bank name (resolved from ISPB)
                        example: "ITAÚ UNIBANCO S.A."
                  owner:
                    type: object
                    description: Key owner (present when found)
                    properties:
                      type:
                        type: string
                        description: Owner person type
                        enum: [NATURAL_PERSON, LEGAL_PERSON]
                      tax_id_number:
                        type: string
                        description: Owner's CPF/CNPJ (masked)
                        example: "***.***.**1-01"
                      name:
                        type: string
                        description: Owner's name
                        example: "Maria Silva"
                  created_at:
                    type: string
                    description: DICT key creation timestamp (when available)
                  end_to_end_id:
                    type: string
                    description: E2E ID to use as `X-Pix-Lookup-E2E` header in Cash-Out
                    example: "E60701190202607221435abcdef123456"
        '400':
          description: Missing/invalid key or key_type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: >-
            DICT provider did not respond within the single-shot budget
            (`DICT_PROVIDER_TIMEOUT`). Caller may retry after `Retry-After`
            seconds.
          headers:
            Retry-After:
              schema:
                type: string
              description: Seconds to wait before retrying
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: DICT provider returned an upstream error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/pix/keys:
    post:
      tags:
        - PIX Keys
      summary: Register PIX Key
      operationId: registerPixKey
      description: >-
        Registers a new PIX key in DICT/BACEN.


        **Simplified!** Only `key_type` is required. Account data
        (account_type, account_number, branch_number, person_type, tax_id, name,
        trade_name, account_open_date) is automatically populated from the
        approved onboarding data.


        **Key types (`key_type`):**

        - `CPF` — Individual taxpayer ID (11 digits)

        - `CNPJ` — Business taxpayer ID (14 digits)

        - `EMAIL` — Email address

        - `PHONE` — Phone number (+55...)

        - `EVP` — Random key (generated by BACEN, send empty `key`)


        **Required field:** `key_type`

        **Optional field:** `key` (required for CPF, CNPJ, EMAIL, PHONE; empty
        for EVP)


        **Optional override fields:** To override onboarding data, send any of:
        `account_type`, `account_number`, `branch_number`, `person_type`,
        `tax_id`, `name`, `trade_name`, `account_open_date`


        **Tip:** For EVP (random key), just send `{"key_type": "EVP"}`. BACEN
        generates the key automatically.


        **Scope:** `pix:keys:write`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - key_type
              properties:
                key_type:
                  type: string
                  enum: [CPF, CNPJ, EMAIL, PHONE, EVP]
                  description: Type of PIX key to register
                  example: EVP
                key:
                  type: string
                  description: >-
                    Key value. Required for CPF, CNPJ, EMAIL, PHONE. Leave empty
                    for EVP.
                  example: ""
      responses:
        '201':
          description: PIX key registered successfully (flat object, no envelope)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixKeyWriteResponse'
        '400':
          description: Invalid request parameters
        '409':
          description: Key already registered
    get:
      tags:
        - PIX Keys
      summary: List PIX Keys
      operationId: listPixKeys
      description: >-
        Lists all PIX keys registered for the authenticated client.


        **Scope:** `pix:keys:read`
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: Page number
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
          description: Page size
        - name: key_type
          in: query
          schema:
            type: string
            enum: [CPF, CNPJ, EMAIL, PHONE, EVP]
          description: Filter by key type
        - name: status
          in: query
          schema:
            type: string
            default: active
          description: Filter by DICT status
      responses:
        '200':
          description: >-
            List of PIX keys (flat object, no `success`/`data` envelope).
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PixKeyReadResponse'
                  total:
                    type: integer
                    example: 1
                  page:
                    type: integer
                    example: 1
                  page_size:
                    type: integer
                    example: 20
  /api/v1/pix/keys/{key}:
    get:
      tags:
        - PIX Keys
      summary: Get PIX Key by Value
      operationId: getPixKey
      description: >-
        Looks up a specific PIX key by its value (CPF, email, EVP UUID, etc.).


        **Scope:** `pix:keys:read`
      parameters:
        - name: key
          in: path
          required: true
          schema:
            type: string
          description: The PIX key value to look up
          example: "user@example.com"
      responses:
        '200':
          description: PIX key details (flat object, no envelope)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixKeyReadResponse'
        '404':
          description: Key not found
    delete:
      tags:
        - PIX Keys
      summary: Delete PIX Key
      operationId: deletePixKey
      description: >-
        Removes a PIX key from DICT/BACEN.


        **URL parameter:** `key` — the PIX key value

        **Body:** `reason` (optional free-text string; defaults to
        `USER_REQUESTED` when omitted). Not validated against an enum.


        **Scope:** `pix:keys:write`
      parameters:
        - name: key
          in: path
          required: true
          schema:
            type: string
          description: The PIX key value to delete
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for deletion (free text)
                  default: USER_REQUESTED
                  example: USER_REQUESTED
      responses:
        '200':
          description: >-
            PIX key deleted successfully (flat `{ success, message }`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixKeyDeleteResponse'
        '404':
          description: Key not found
  /api/v1/pix/keys/claims:
    post:
      tags:
        - PIX Keys
      summary: Create PIX Key Claim
      operationId: createPixKeyClaim
      description: >-
        Opens a DICT claim (portability or ownership) for a PIX key. Account
        holder data (`account_type`, `account_number`, `person_type`, `tax_id`,
        `name`) is auto-resolved from the authenticated client's onboarding
        record when omitted; supply it explicitly if resolution fails.


        **Scope:** `pix:keys:write`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - claim_type
                - key
                - key_type
              properties:
                claim_type:
                  type: string
                  enum: [PORTABILITY, OWNERSHIP]
                  description: Claim type
                  example: PORTABILITY
                key_type:
                  type: string
                  enum: [CPF, CNPJ, EMAIL, PHONE, EVP]
                  description: PIX key type
                  example: EMAIL
                key:
                  type: string
                  description: The PIX key value being claimed
                  example: user@example.com
                account_id:
                  type: string
                  description: Claimer account ID (auto-resolved when omitted)
                branch_number:
                  type: string
                account_type:
                  type: string
                  description: Auto-resolved from onboarding when omitted
                account_number:
                  type: string
                  description: Auto-resolved from onboarding when omitted
                person_type:
                  type: string
                  description: Auto-resolved from onboarding when omitted
                tax_id:
                  type: string
                  description: Auto-resolved from onboarding when omitted
                name:
                  type: string
                  description: Auto-resolved from onboarding when omitted
                trade_name:
                  type: string
                account_open_date:
                  type: string
      responses:
        '201':
          description: Claim created (flat object, no envelope)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixKeyClaimResponse'
        '400':
          description: >-
            Missing/invalid fields (`MISSING_FIELDS`, `INVALID_CLAIM_TYPE`).
  /api/v1/pix/keys/claims/{claimId}/confirm:
    post:
      tags:
        - PIX Keys
      summary: Confirm PIX Key Claim
      operationId: confirmPixKeyClaim
      description: >-
        Confirms a pending PIX key claim.


        **Scope:** `pix:keys:write`
      parameters:
        - name: claimId
          in: path
          required: true
          schema:
            type: string
          description: The claim ID
      responses:
        '200':
          description: Claim confirmed (flat object, no envelope)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixKeyClaimResponse'
  /api/v1/pix/keys/claims/{claimId}/cancel:
    post:
      tags:
        - PIX Keys
      summary: Cancel PIX Key Claim
      operationId: cancelPixKeyClaim
      description: >-
        Cancels a pending PIX key claim. Optional `reason` code in the body.


        **Scope:** `pix:keys:write`
      parameters:
        - name: claimId
          in: path
          required: true
          schema:
            type: string
          description: The claim ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: integer
                  description: DICT cancellation reason code
      responses:
        '200':
          description: Claim cancelled (flat object, no envelope)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixKeyClaimResponse'
  /api/v1/pix/balance:
    get:
      tags:
        - PIX Balance
      summary: Get Balance
      operationId: getBalance
      description: >-
        Queries the account balance. If `account_id` is omitted, uses the
        client's default account.


        **Scope:** `pix:balance:read`
      parameters:
        - name: account_id
          in: query
          schema:
            type: string
          description: Account ID (optional, uses default account if omitted)
          example: acc-550e8400-e29b-41d4
      responses:
        '200':
          description: >-
            Account balance. Returned as a flat object (no `success`/`data`
            wrapper). All monetary fields are decimal strings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_id:
                    type: string
                    example: acc-550e8400-e29b-41d4
                  available_balance:
                    type: string
                    example: "10000.00"
                  blocked_balance:
                    type: string
                    example: "500.00"
                  total_balance:
                    type: string
                    example: "10500.00"
                  currency:
                    type: string
                    example: BRL
                  updated_at:
                    type: string
                    format: date-time
                    example: "2025-01-15T10:00:00Z"
  /api/v1/pix/limits:
    get:
      tags:
        - PIX Limits
      summary: Get Limits
      operationId: getLimits
      description: >-
        Queries PIX transaction limits for the account, grouped by type
        (pix_out, pix_in, ted, boleto) and period (daytime/nighttime).


        **Scope:** `pix:limits:read`
      parameters:
        - name: account_id
          in: query
          schema:
            type: string
          description: Account ID (optional, uses default account if omitted)
          example: acc-550e8400-e29b-41d4
      responses:
        '200':
          description: Account limits
          content:
            application/json:
              schema:
                type: object
                properties:
                  limits:
                    type: object
                    description: Limits grouped by type and period
                  period:
                    type: object
                    properties:
                      daytime:
                        type: string
                        example: "06:00-20:00"
                      nighttime:
                        type: string
                        example: "20:00-06:00"
                  currency:
                    type: string
                    example: BRL
  /api/v1/pix/limits/requests:
    post:
      tags:
        - PIX Limits
      summary: Request Limit Change
      operationId: requestLimitChange
      description: >-
        Creates a request to change a PIX transaction limit. The request remains
        pending until approved or rejected by an administrator.


        **Rules:**

        - Only one pending request per type/period is allowed

        - If one already exists, returns HTTP 409


        **Scope:** `pix:limits:write`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - period
                - requested_amount
              properties:
                type:
                  type: string
                  enum: [pix_in, pix_out, ted, boleto, p2p, total]
                  description: Limit type
                  example: pix_in
                period:
                  type: string
                  enum: [daily, nightly, monthly]
                  description: Time period
                  example: daily
                requested_amount:
                  type: string
                  description: Requested amount (decimal string)
                  example: "500000.00"
                reason:
                  type: string
                  description: Justification for the request (optional)
                  example: Increased e-commerce sales volume
      responses:
        '200':
          description: Limit change request created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/LimitRequestResponse'
        '409':
          description: A pending request already exists for this type/period
    get:
      tags:
        - PIX Limits
      summary: List Pending Limit Requests
      operationId: listLimitRequests
      description: >-
        Lists all pending limit change requests for the authenticated account.
        Returns only requests with `pending` status.


        **Scope:** `pix:limits:read`
      responses:
        '200':
          description: List of pending limit requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LimitRequestResponse'
  /api/v1/pix/limits/requests/{limit_request_id}:
    get:
      tags:
        - PIX Limits
      summary: Get Limit Request by ID
      operationId: getLimitRequest
      description: >-
        Retrieves details of a specific limit change request. Returns full data
        including current status (pending, approved, rejected, expired).


        **Scope:** `pix:limits:read`
      parameters:
        - name: limit_request_id
          in: path
          schema:
            type: string
          required: true
          description: Limit request ID
      responses:
        '200':
          description: Limit request details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/LimitRequestResponse'
  /api/v1/pix/cash-in/qrcode:
    post:
      tags:
        - PIX Cash-In
      summary: Create Charge
      operationId: createCashIn
      description: >-
        Creates a PIX charge (Cash-In). Generates a QR Code for the payer
        and waits for the complete processing result.


        **Authentication:** API Key via headers `x-key-id` + `x-secret-key`,
        OR Bearer Token.


        **Scope:** `pix:cashin:write`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
                - reference
              properties:
                amount:
                  type: string
                  description: Charge amount in BRL (decimal string)
                  example: "150.00"
                reference:
                  type: string
                  description: Your internal reference ID
                  example: order-12345
                description:
                  type: string
                  description: Charge description shown to payer
                  example: Monthly subscription payment
                payer_name:
                  type: string
                  description: Expected payer name (optional)
                  example: John Doe
                payer_document:
                  type: string
                  description: Expected payer document/CPF (optional)
                  example: "12345678901"
                expiration_time:
                  type: integer
                  description: Expiration time in seconds (default 3600)
                  example: 3600
                metadata:
                  type: object
                  description: Metadata for the charge
                due_date:
                  type: string
                  format: date
                  description: Due date for CobV charges (YYYY-MM-DD)
                receiver_address:
                  type: string
                  description: Address of the receiver
                receiver_state:
                  type: string
                  description: State of the receiver
                receiver_postal_code:
                  type: string
                  description: Postal Code of the receiver
                penalty:
                  type: object
                  description: Late fee configuration (CobV only)
                  properties:
                    mode:
                      type: integer
                      description: "1 = fixed amount, 2 = percentage"
                    value:
                      type: number
                interest:
                  type: object
                  description: Daily interest configuration (CobV only)
                  properties:
                    mode:
                      type: integer
                      description: "1 = BRL/day, 2 = %/day, 3 = %/month, 4 = %/year"
                    value:
                      type: number
                discount:
                  type: object
                  description: Early payment discount (CobV only)
                  properties:
                    mode:
                      type: integer
                    value:
                      type: number
                    fixed_dates:
                      type: array
                      items:
                        type: object
                rebate:
                  type: object
                  description: Rebate/abatement (CobV only)
                  properties:
                    mode:
                      type: integer
                    value:
                      type: number
                withdraw_amount:
                  type: string
                  description: Number indicating the withdraw amount
                  example: "123.45"
                withdraw_agent_mode:
                  type: integer
                change_amount:
                  type: string
                  description: Number indicating the change amount
                  example: "123.45"
                change_agent_mode:
                  type: integer
      parameters:
        - name: x-key-id
          in: header
          required: false
          schema:
            type: string
          description: API Key ID (required if not using Bearer Token)
          example: your-api-key-id
        - name: x-secret-key
          in: header
          required: false
          schema:
            type: string
          description: API Key Secret (required if not using Bearer Token)
          example: your-api-key-secret
      responses:
        '200':
          description: >-
            Charge created and processed. The body merges the orchestrator's
            transaction result with QR fields — a flat object (no `data`
            wrapper). The HTTP status mirrors the orchestrator's own status.
            Optional fields are present only when produced by the flow.
          content:
            application/json:
              schema:
                type: object
                properties:
                  conciliation_id:
                    type: string
                    example: e7ab3h05237141509d5c52a280b68b53
                  success:
                    type: boolean
                    example: true
                  transaction_id:
                    type: string
                    example: txn_abc123
                  status:
                    type: string
                    example: pending
                  qr_code:
                    type: string
                    description: EMV payload (BR Code) for the payer
                  qr_code_text:
                    type: string
                  qr_code_image:
                    type: string
                    description: Base64 QR image (when available)
                  access_token:
                    type: string
                    description: >-
                      Identifies the charge (the `/cob/{token}` segment of the
                      BR Code); parameter for the cancel endpoint.
                  payload_url:
                    type: string
                    description: URL served to the payer
                  expires_at:
                    type: string
                    format: date-time
                  jdpi_document_id:
                    type: string
                    example: 29535ed9-cc6a-4d87-994f-634f830362f1
                  message:
                    type: string
                    example: "Cash-in validated successfully"
                  metadata:
                    type: object
                  provider:
                    type: string
                    example: pix
  /api/v1/pix/cash-in/qrcode/static:
    post:
      tags:
        - PIX Cash-In
      summary: Create Static QR Code
      operationId: createStaticQRCode
      description: >-
        Creates a reusable static PIX QR Code (BR Code) for the authenticated
        client. Unlike the dynamic charge, the static QR does not expire and can
        be paid any number of times. All body fields are optional; when `amount`
        is omitted the payer chooses the amount. Response is a flat object
        (no `data` wrapper) proxied from the PIX service.


        **Authentication:** API Key via headers `x-key-id` + `x-secret-key`,
        OR Bearer Token.


        **Scope:** `pix:cashin:write`
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: string
                  description: Fixed amount in BRL (decimal string); omit for payer-defined amount
                  example: "150.00"
                reference:
                  type: string
                  description: >-
                    TxID (EMV field 62-05). Max 25 chars, alphanumeric only
                    (`a-z`, `A-Z`, `0-9`) per BACEN MPI v2.9.0 §2.6.2.
                  example: order12345
                merchant_name:
                  type: string
                  example: Loja Exemplo
                merchant_city:
                  type: string
                  example: Sao Paulo
                description:
                  type: string
                  example: Pagamento avulso
                withdraw_amount:
                  type: string
                  description: PIX Saque amount (decimal string)
                  example: "50.00"
                withdraw_agent_mode:
                  type: integer
                withdraw_ispb:
                  type: string
                change_amount:
                  type: string
                  description: PIX Troco amount (decimal string)
                  example: "10.00"
                change_agent_mode:
                  type: integer
                change_ispb:
                  type: string
      parameters:
        - name: x-key-id
          in: header
          required: false
          schema:
            type: string
          description: API Key ID (required if not using Bearer Token)
          example: your-api-key-id
        - name: x-secret-key
          in: header
          required: false
          schema:
            type: string
          description: API Key Secret (required if not using Bearer Token)
          example: your-api-key-secret
      responses:
        '200':
          description: >-
            Static QR Code created. Flat object proxied verbatim from the PIX
            service.
          content:
            application/json:
              schema:
                type: object
                properties:
                  qr_code:
                    type: string
                    description: EMV payload (BR Code) — reusable, does not expire
                  qr_code_text:
                    type: string
                  qr_code_image:
                    type: string
                    description: Base64 QR image (when available)
                  pix_key:
                    type: string
        '400':
          description: >-
            Invalid `reference` (over 25 chars or contains non-alphanumeric
            characters) or malformed body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/pix/cash-in/{cash_in_id}:
    get:
      tags:
        - PIX Cash-In
      summary: Get Cash-In Status
      operationId: getCashInStatus
      description: >-
        Queries the status of a PIX charge.


        **Possible statuses:** `pending`, `paid`, `expired`, `cancelled`,
        `failed`


        **Scope:** `pix:cashin:read`
      parameters:
        - name: cash_in_id
          in: path
          required: true
          schema:
            type: string
          description: Cash-In transaction ID
        - name: x-key-id
          in: header
          required: true
          schema:
            type: string
          example: your-api-key-id
        - name: x-secret-key
          in: header
          required: true
          schema:
            type: string
          example: your-api-key-secret
      responses:
        '200':
          description: Cash-In status
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      transaction_id:
                        type: string
                        example: 425cf5d3-4981-4aa6-b207-407f2e3a02c0
                      external_id:
                        type: string
                        example: aa8091df-3939-4071-b6d2-7ffca2f9fbb0
                      amount:
                        type: string
                        example: 0.01
                      currency:
                        type: string
                        example: BRL
                      status:
                        type: string
                        example: expired
                      payer_name:
                        type: string
                        example: Carlos Lima
                      payer_document:
                        type: string
                        example: 11122233344
                      expires_at:
                        type: string
                        example: 2026-04-21T20:10:43-03:00
                      created_at:
                        type: string
                        example: 2026-04-21T23:05:43Z
        '404':
          description: Cash-In not found
  /api/v1/pix/cash-in/{cash_in_id}/cancel:
    post:
      tags:
        - PIX Cash-In
      summary: Cancel Cash-In
      operationId: cancelCashIn
      description: >-
        Cancels a pending PIX charge. Only works for charges with `pending`
        status.


        **Scope:** `pix:cashin:write`
      parameters:
        - name: cash_in_id
          in: path
          required: true
          schema:
            type: string
          description: Cash-In transaction ID
        - name: x-key-id
          in: header
          required: true
          schema:
            type: string
          example: your-api-key-id
        - name: x-secret-key
          in: header
          required: true
          schema:
            type: string
          example: your-api-key-secret
      responses:
        '200':
          description: Cash-In cancelled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cash-in cancelled successfully
                  success:
                    type: boolean
                    example: true
        '400':
          description: Cash-In cannot be cancelled (not in pending status)
  /api/v1/pix/reversals:
    post:
      tags:
        - PIX Reversals
      summary: Create Reversal
      operationId: createReversal
      description: >-
        Creates a reversal (refund) of a received PIX payment.


        **Scope:** `pix:reversals:write`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
                - external_id
                - end_to_end_id
              properties:
                amount:
                  type: string
                  description: Amount in BRL to refund (e.g. "10.00" = R$10.00)
                  example: "10.00"
                external_id:
                  type: string
                  description: Unique reversal ID in your system
                  example: rev-unique-id-001
                end_to_end_id:
                  type: string
                  description: EndToEndID of the original received PIX payment
                  example: E35547753202201201450u34sDGd19l2
                reason:
                  type: string
                  description: Reason for the reversal (optional)
                  example: Customer requested refund
                refund_code:
                  type: string
                  description: Code identifying the refund motive
                  example: MD06
                customer_message:
                  type: string
                user_metadata:
                  type: object
                tags:
                  type: array
                  description: Tags for categorization (optional)
                  items:
                    type: string
                  example: ["refund", "customer-request"]
      parameters:
        - name: X-Idempotency-Key
          in: header
          schema:
            type: string
            format: uuid
          description: Prevents duplicate reversals
          example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Reversal created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReversalResponse'
        '400':
          description: Invalid request parameters
        '409':
          description: Duplicate reversal (idempotency key already used)
    get:
      tags:
        - PIX Reversals
      summary: List Reversals
      operationId: listReversals
      description: >-
        Lists all PIX reversals with pagination and filter support.
        This endpoint is not implemented as of yet. Use [GET /reversals/:reversal_id](api:GET/api/v1/pix/reversals/{reversal_id}) to retrieve a specific reversal.


        **Scope:** `pix:reversals:read`
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            maximum: 100
          description: Maximum number of results (max 100)
          example: 10
        - name: cursor
          in: query
          schema:
            type: string
          description: Cursor for pagination
        - name: after
          in: query
          schema:
            type: string
            format: date
          description: Filter by creation date (after)
          example: "2024-01-01"
        - name: before
          in: query
          schema:
            type: string
            format: date
          description: Filter by creation date (before)
          example: "2024-12-31"
        - name: status
          in: query
          schema:
            type: string
            enum: [processing, success, failed]
          description: Filter by status
          example: success
        - name: end_to_end_ids
          in: query
          schema:
            type: string
          description: Filter by EndToEndID(s)
        - name: external_ids
          in: query
          schema:
            type: string
          description: Filter by external ID(s)
      responses:
        # '200':
        #   description: List of reversals
        #   content:
        #     application/json: {}
        '501':
          description: Not Implemented
  /api/v1/pix/reversals/{reversal_id}:
    get:
      tags:
        - PIX Reversals
      summary: Get Reversal by ID
      operationId: getReversal
      description: >-
        Retrieves the status and details of a PIX reversal by its ID.


        **Scope:** `pix:reversals:read`
      parameters:
        - name: reversal_id
          in: path
          required: true
          schema:
            type: string
          description: Reversal ID
      responses:
        '200':
          description: Reversal details
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/ReversalResponse'
        '404':
          description: Reversal not found
  /api/v1/pix/cash-out:
    post:
      tags:
        - PIX Cash-Out
      summary: Create Cash-Out
      operationId: createCashOut
      description: >-
        Initiates a PIX payment (Cash-Out). This single endpoint supports three
        different payment flows depending on the fields provided:


        ## Flow 1 — Via PIX Key


        Send a payment directly using the recipient's PIX key.

        **Required fields:** `amount`, `pix_key`, `pix_key_type`, `external_id`


        ## Flow 2 — Via Bank Details


        Send a payment using the recipient's bank account details, without
        needing a PIX key.

        **Required fields:** `amount`, `receiver_name`, `receiver_document`,
        `receiver_ispb`, `receiver_branch`, `receiver_account`,
        `receiver_account_type`, `external_id`


        ## Flow 3 — Via QR Code (Two-Step)


        1. First decode the QR Code via `POST /api/v1/pix/qrcode/decode`

        2. Use the returned `end_to_end_id` as the `X-Pix-Lookup-E2E` header
        in this call

        3. The system retrieves pre-decoded data and processes the payment
        (without decoding again)


        **Required fields:** `amount` + header `X-Pix-Lookup-E2E`


        **Scope:** `pix:cashout:write`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
                - external_id
              description: >-
                Only `external_id` and `amount` are always required (`amount`
                may be omitted when paying via `br_code`). The remaining fields
                are validated per flow: `pix_key` + `pix_key_type` for Flow 1;
                `receiver_name`, `receiver_document`, `receiver_ispb`,
                `receiver_branch`, `receiver_account`, `receiver_account_type`
                for Flow 2 (bank details); none of these for Flow 3 (the
                `X-Pix-Lookup-E2E` header resolves the recipient).
              properties:
                external_id:
                  type: string
                  description: Unique cash-out ID in your system (used for idempotency and status lookup)
                  example: "ext_cashout_001"
                amount:
                  type: string
                  description: Payment amount in BRL
                  example: "1000.00"
                pix_key:
                  type: string
                  description: Recipient PIX key
                  example: "12345678901"
                pix_key_type:
                  type: string
                  enum: [CPF, CNPJ, EMAIL, PHONE, EVP]
                  description: PIX key type
                  example: CPF
                receiver_name:
                  type: string
                  description: Recipient full name
                  example: "João da Silva"
                receiver_document:
                  type: string
                  description: Recipient CPF (11 digits) or CNPJ (14 digits)
                  example: "98765432100"
                receiver_ispb:
                  type: string
                  description: Recipient bank ISPB (optional — resolved from PIX key if omitted)
                  example: "00000000"
                receiver_branch:
                  type: string
                  description: Recipient branch number (optional)
                  example: "0001"
                receiver_account:
                  type: string
                  description: Recipient account number (optional)
                  example: "12345678"
                receiver_account_type:
                  type: string
                  enum: [checking, savings, salary, payment]
                  description: Recipient account type (optional)
                  example: checking
                description:
                  type: string
                  description: Payment description
                  example: "Supplier payment"
                reference:
                  type: string
                  description: Your internal reference ID
                  example: "pay-001"
                br_code:
                  type: string
                  description: Raw BR Code from a decoded QR (optional — use instead of pix_key when paying via QR)
                  example: "00020126..."
                metadata:
                  type: object
                  description: Custom key-value metadata
      parameters:
        - name: X-Idempotency-Key
          in: header
          schema:
            type: string
            format: uuid
          description: Prevents duplicate payments (recommended)
          example: 550e8400-e29b-41d4-a716-446655440000
        - name: X-Pix-Lookup-E2E
          in: header
          schema:
            type: string
          description: >-
            EndToEndID from a previous QR Code decode (required for Flow 3).
            Obtained from `POST /api/v1/pix/qrcode/decode`.
      responses:
        '200':
          description: >-
            Cash-Out accepted. The response body and HTTP status are proxied
            verbatim from the payment orchestrator (may be `200` or `201`).
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  transaction_id:
                    type: string
                    example: 1c1331ce-a9ff-43c5-8ed2-31a98e61a1ab
                  status:
                    type: string
                    example: queued
                  amount:
                    type: string
                    example: 50.00
                  message:
                    type: string
                    example: Cash-out queued for processing
        '201':
          description: >-
            Cash-Out created (orchestrator may return `201` instead of `200`;
            same body shape).
        '400':
          description: Invalid request parameters (`VALIDATION_ERROR`)
        '409':
          description: >-
            Account is mid-migration (`ACCOUNT_MIGRATING`) — retry after the
            seconds given in the `Retry-After` header.
  /api/v1/pix/cash-out/query:
    post:
      tags:
        - PIX Cash-Out
      summary: Query a Cash-Out by key + amount
      operationId: queryCashOuts
      description: >-
        Looks up a Cash-Out by recipient PIX key and amount. Both `pix_key` and
        `amount` are required. The request is proxied to the payment
        orchestrator, which returns the matching transaction(s).

        **Scope:** `pix:cashout:read`
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - pix_key
                - amount
              properties:
                pix_key:
                  type: string
                  description: Recipient PIX key
                  example: "12345678901"
                pix_key_type:
                  type: string
                  enum: [CPF, CNPJ, EMAIL, PHONE, EVP]
                  description: PIX key type
                  example: CPF
                amount:
                  type: string
                  description: Payment amount in BRL
                  example: "1000.00"
                external_id:
                  type: string
                  description: Your external/reference ID (optional)
                description:
                  type: string
                  description: Payment description (optional)
      responses:
        '200':
          description: >-
            Cash-Out query result (body proxied verbatim from the payment
            orchestrator).
  /api/v1/pix/cash-out/:
    get:
      tags:
        - PIX Cash-Out
      summary: Get Cash-Out by external_id
      operationId: getCashOutByExternalId
      description: >-
        Retrieves a Cash-Out by the `external_id` you supplied on creation. The
        request is proxied to the payment orchestrator.

        **Scope:** `pix:cashout:read`
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - name: external_id
          in: query
          required: true
          schema:
            type: string
          description: The external/reference ID supplied when creating the Cash-Out
          example: ext_cashout_001
      responses:
        '200':
          description: >-
            Cash-Out details (body proxied verbatim from the payment
            orchestrator).
        '400':
          description: external_id query param is required
  /api/v1/pix/cash-out/{cash_out_id}:
    get:
      tags:
        - PIX Cash-Out
      summary: Get Cash-Out Status
      operationId: getCashOutStatus
      description: >-
        Queries the status of a PIX payment (Cash-Out).


        **Possible statuses:** `processing`, `completed`, `failed`, `returned`


        **Scope:** `pix:cashout:read`
      parameters:
        - name: cash_out_id
          in: path
          required: true
          schema:
            type: string
          description: Cash-Out transaction ID
      responses:
        '200':
          description: Cash-Out status
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/CashOutStatus'
        '404':
          description: Cash-Out not found
  /api/v1/pix/qrcode/decode:
    post:
      tags:
        - PIX Cash-Out
      summary: Decode QR Code
      operationId: decodeQRCode
      description: >-
        Decodes a PIX QR Code (static or dynamic).


        **Required field:** `br_code` (EMV payload from QR Code)


        **Participant fields (resolved via BACEN ParticipantesSTR list):**

        - `receiver_participant_name` — Recipient institution name (always
        present)

        **Financial fields (returned when present in CobV QR):**

        - `due_date` — Due date (YYYY-MM-DD)

        - `penalty` — Late fee: `mode` (1=fixed, 2=%), `value`

        - `interest` — Interest: `mode` (1=BRL/day, 2=%/day, 3=%/month,
        4=%/year), `value`

        - `discount` — Discount: `mode` (1-4), `value`, `fixed_dates[]`

        - `rebate` — Rebate: `mode` (1=fixed, 2=%), `value`

        **Optimized flow (Two-Step — RECOMMENDED):**

        1. Decode the QR Code with this API (data is saved in lookup history)

        2. Confirm recipient details with the user

        3. Send the Cash-Out using the `X-Pix-Lookup-E2E: {end_to_end_id}`
        header (WITHOUT sending `br_code` again)

        4. The system uses pre-decoded data, avoiding a duplicate decode call


        **Scope:** `pix:cashout:write`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - br_code
              properties:
                br_code:
                  type: string
                  description: EMV payload from the QR Code
                  example: "00020126580014br.gov.bcb.pix0136263187470001865204000053039865405..."
      responses:
        '200':
[...]
