openapi: 3.0.0
info:
  title: BRZ API
  description: >-
    Complete PIX gateway API by BRZ. Direct integration with
    BACEN — no external providers.


    ## Base URLs


    | Environment | URL |
    |-------------|-----|
    | **Production** | `https://pix-api.brzip.com.br` |
    | **Staging** | `https://pix-api-staging.brzip.com.br` |


    All PIX endpoints use the prefix `/api/v1/pix`.


    ## Authentication


    The API uses two authentication methods:


    ### 1. Bearer Token (JWT) — Most endpoints


    All endpoints **except Cash-In** use a Bearer Token:

    ```
    Authorization: Bearer <your-jwt-token>
    ```

    Obtain a JWT by calling `POST /v1/auth/bearer-token` with your API Key
    credentials.


    ### 2. API Key — Cash-In endpoints only


    Cash-In endpoints (`/api/v1/pix/cash-in/*`) use two headers:

    ```
    x-key-id: <your-key-id>
    x-secret-key: <your-secret-key>
    ```


    ## Password Reset


    ### Flow 1 — Independent Client (Dual OTP)


    1. `POST /v1/auth/reset-password` with `{ email }` (no authentication)

    2. System sends OTP to email AND phone (different codes)

    3. `POST /v1/auth/confirm-reset-password` with `{ email, email_code,
    phone_code, new_password }`


    ## Rate Limits


    - Default: 50 req/s per client, burst up to 100.

    - When exceeded, returns HTTP 429 with `Retry-After` header.


    ## Common Headers


    | Header | Required | Description |
    |--------|----------|-------------|
    | `Authorization` | Yes (Bearer) | `Bearer <jwt>` for PIX endpoints |
    | `x-key-id` | Yes (Cash-In) | API Key ID |
    | `x-secret-key` | Yes (Cash-In) | API Key Secret |
    | `X-Idempotency-Key` | Recommended | Prevents duplicate operations (UUID) |
    | `Content-Type` | Yes (POST/PUT) | Always `application/json` |


    ---


    ## Onboarding Flow (Step by Step)


    ### Step 1 — Create Account


    Create your account with `POST /v1/auth/signup`. Save the returned `keyId`
    and `secretKey`. OTP codes will be sent via email and SMS.


    ### Step 1b — Verify Email


    Verify your email with `POST /v1/auth/verify-email` using the OTP code
    received.


    ### Step 1c — Verify Phone


    Verify your phone with `POST /v1/auth/verify-phone` using the OTP code
    received via SMS.


    ### Step 1d — Resend OTP (optional)


    If needed, resend the code with `POST /v1/auth/resend-otp` (max 5 per
    hour).


    ### Step 2 — Login


    Log in with `POST /v1/auth/login` to obtain a session token.


    ### Step 3 — Submit Documents (3 stages)


    1. Get pre-signed URLs with `POST /v1/auth/documents/presigned-urls`

    2. `PUT` each file directly to the S3 URL (raw binary, no FormData)

    3. Confirm uploads with `POST /v1/auth/documents/confirm`


    **Individual documents:** `cpf_frente`, `cpf_verso`, `selfie_com_cpf`,
    `comprovante_residencia`

    **Business documents:** `cnpj`, `contrato_social`,
    `comprovante_residencia_empresa`


    ### Step 4 — Wait for Approval


    Track your status with `GET /v1/auth/status`. Wait for team approval.


    ### Step 5 — Generate Bearer Token


    After approval, generate your Bearer Token with `POST /v1/auth/bearer-token`
    using your credentials.


    ### Step 6 — Register PIX Key


    Register a PIX key in DICT/BACEN with `POST /api/v1/pix/keys`. Just send
    `{"key_type": "EVP"}` — account data is automatically populated from your
    onboarding!


    ### Step 7 — Ready to Operate!


    Now you can create charges (Cash-In), make transfers, and check your
    balance.


    ---
  version: 1.0.0
servers:
  - url: https://pix-api.brzip.com.br
    description: Production
    x-fern-server-name: Production
  - url: https://pix-api-staging.brzip.com.br
    description: Staging
    x-fern-server-name: Staging
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        JWT token obtained via `POST /v1/auth/bearer-token`. Required for all
        endpoints except Cash-In (which uses API Key headers).
security:
  - bearerAuth: []
tags:
  - name: Service Health
    description: >-
      Health check endpoints to verify service availability. No authentication
      required.
  - name: PIX Keys
    description: >-
      Manage PIX keys registered in the BACEN DICT (Directory of Transactional
      Account Identifiers).


      **Authentication:** Bearer Token

      **Required scopes:** `pix:keys:read` and/or `pix:keys:write`
  - name: PIX Balance
    description: >-
      Query account balance information.


      **Authentication:** Bearer Token

      **Scope:** `pix:balance:read`
  - name: Transactions
    description: >-
      Query PIX transactions for the authenticated client. Served by
      **gw-payment-orchestrator** via ALB path `/api/v1/transactions/*`.


      **Authentication:** Bearer Token

      **Scope:** Bearer JWT obtained via `/v1/auth/bearer-token`
  - name: PIX Limits
    description: >-
      Query and manage PIX transaction limits.


      **Authentication:** Bearer Token

      **Scope:** `pix:limits:read` / `pix:limits:write`
  - name: PIX Cash-In
    description: >-
      Create and manage PIX charges (Cash-In). Generates a QR Code for the
      payer.


      **Authentication:** API Key via headers `x-key-id` + `x-secret-key` (does
      NOT use Bearer Token)


      **Endpoints:**

      - `POST /cash-in` — Create asynchronous charge

      - `POST /cash-in/sync` — Create synchronous charge

      - `GET /cash-in/{id}` — Query status

      - `POST /cash-in/{id}/cancel` — Cancel charge


      **Financial fields (CobV — charge with due date):**

      - `due_date` — Due date (YYYY-MM-DD)

      - `penalty` — Late fee after due date (`mode` + `value`)

      - `interest` — Daily interest (`mode` + `value`)

      - `discount` — Early payment discount (`mode` + `value` + `fixed_dates[]`)

      - `rebate` — Rebate/abatement (`mode` + `value`)


      **PIX Withdrawal and PIX Change:**

      - `withdraw_amount` — Withdrawal amount (PIX Saque)

      - `change_amount` — Change amount (PIX Troco)
  - name: PIX Reversals
    description: >-
      Manage reversals (refunds) of received PIX payments.


      **Authentication:** Bearer Token


      **Required scopes:**

      - `pix:reversals:write` to create reversals

      - `pix:reversals:read` to query reversals
  - name: PIX Cash-Out
    description: >-
      Send PIX payments (Cash-Out) via Temporal workflows.


      **Authentication:** Bearer Token

      **Scope:** `pix:cashout:write` / `pix:cashout:read`
  - name: MED
    description: >-
      Respond to inbound MED (Special Return Mechanism) requests and list them
      by status. MED is a BACEN mechanism for returning PIX funds in cases of
      fraud or operational errors.


      **Authentication:** Bearer Token

      **Scope:** `pix:med:read` / `pix:med:write`
  - name: Webhooks
    description: >-
      Manage webhook notification endpoints. Allows clients to register URLs to
      receive real-time notifications about PIX events.


      ## Overview


      The webhook system sends HTTP POST notifications to URLs registered by the
      client when events occur (PIX received, transfer confirmed, etc.).


      ## Authentication


      All endpoints use Bearer Token JWT with the following scopes:

      - `webhooks:read` — List, search webhooks and deliveries

      - `webhooks:write` — Create, update, delete webhooks and resend deliveries


      **IMPORTANT:** Tokens must explicitly include `webhooks:read` and/or
      `webhooks:write` in the scopes requested during token generation. API Keys
      created by the system include these scopes by default.


      ## Supported Events


      | Event | Description |
      |-------|-------------|
      | `*` | All events |
      | `pix.cash_in.received` | PIX Cash-In received |
      | `pix.cash_in.confirmed` | PIX Cash-In confirmed |
      | `pix.cash_in.expired` | PIX Cash-In expired |
      | `pix.cash_in.refunded` | PIX Cash-In refunded |
      | `pix.cash_out.created` | PIX Cash-Out created |
      | `pix.cash_out.completed` | PIX Cash-Out completed |
      | `pix.cash_out.failed` | PIX Cash-Out failed |
      | `pix.cash_out.returned` | PIX Cash-Out returned |
      | `pix.reversal.created` | PIX Reversal created |
      | `pix.reversal.completed` | PIX Reversal completed |
      | `pix.reversal.failed` | PIX Reversal failed |
      | `pix.inbound.received` | PIX inbound received (direct) |
      | `onboarding.status_changed` | Onboarding status changed (approved/rejected) |
      | `limits.request_approved` | Limit change request approved |
      | `limits.request_rejected` | Limit change request rejected |
      | `pix.infraction.received` | PIX infraction notification received |
      | `pix.med_refund.received` | MED refund request received |
      | `balance.updated` | Balance updated |
      | `payment_link.paid` | Payment link paid |
      | `payment_link.expired` | Payment link expired |


      ## Notification Payload


      Each notification sent to your URL uses the legacy-compatible format:

      ```json
      {
        "id": "transaction-uuid",
        "source": "pixgw",
        "event": "pix.cash_in.confirmed",
        "timestamp": "2025-01-15T10:30:00Z",
        "correlationId": "transaction-uuid",
        "data": {
          "transaction": {
            "id": "internal-uuid",
            "amount": 150.00,
            "status": "completed",
            "reference": "ref-001",
            "pixKey": "key@pix.com",
            "pixKeyType": "EMAIL",
            "payer": {
              "name": "John Doe",
              "document": "123.456.789-00"
            }
          }
        }
      }
      ```


      The notification includes an `X-Webhook-Signature` header with
      HMAC-SHA256 using the webhook `secret` for validation.


      ### Internal Payload Statuses


      | Status | Meaning |
      |--------|---------|
      | `pending` | Received, awaiting processing |
      | `processing` | Being processed |
      | `completed` | Successfully completed |
      | `failed` | Failed |
      | `expired` | Expired |
      | `cancelled` | Cancelled |
      | `refunded` | Refunded |
      | `returned` | Returned (cash-out) |


      ## Retries


      If your URL returns an error (status >= 400 or timeout), the system
      automatically retries with exponential backoff:

      - 1st retry: 1 minute

      - 2nd retry: 5 minutes

      - 3rd retry: 30 minutes

      - 4th retry: 1 hour

      - 5th retry: sent to DLQ (Dead Letter Queue)


      ## Temporal Workflow


      Cash-in events with `completed` status and cash-out events with final
      status are processed by the Temporal Workflow before webhook delivery. The
      workflow manages:

      - Ledger capture (balance)

      - Retention check (cash-in)

      - Webhook delivery to client


      This ensures consistency between balance and notification.


      ---

paths:
  /health:
    get:
      tags:
        - Service Health
      summary: Health Check
      operationId: healthCheck
      description: >-
        Basic service health check. Returns HTTP 200 if the service is running.


        **Response:** `{"status":"healthy","service":"brz-pix-api"}`
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: healthy
                  service:
                    type: string
                    example: brz-pix-api
  /ready:
    get:
      tags:
        - Service Health
      summary: Readiness Check
      operationId: readinessCheck
      description: >-
        Checks if the service is ready to accept requests. Returns HTTP 200 when
        ready.


        **Response:** `{"status":"ready","service":"brz-pix-api"}`
      responses:
        '200':
          description: Service is ready
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ready
                  service:
                    type: string
                    example: brz-pix-api
  /api/v1/pix/keys:
    post:
      tags:
        - PIX Keys
      summary: Register PIX Key
      operationId: registerPixKey
      description: >-
        Registers a new PIX key in DICT/BACEN.


        **Simplified!** Only `key_type` is required. Account data
        (account_type, account_number, branch_number, person_type, tax_id, name,
        trade_name, account_open_date) is automatically populated from the
        approved onboarding data.


        **Key types (`key_type`):**

        - `CPF` — Individual taxpayer ID (11 digits)

        - `CNPJ` — Business taxpayer ID (14 digits)

        - `EMAIL` — Email address

        - `PHONE` — Phone number (+55...)

        - `EVP` — Random key (generated by BACEN, send empty `key`)


        **Required field:** `key_type`

        **Optional field:** `key` (required for CPF, CNPJ, EMAIL, PHONE; empty
        for EVP)


        **Optional override fields:** To override onboarding data, send any of:
        `account_type`, `account_number`, `branch_number`, `person_type`,
        `tax_id`, `name`, `trade_name`, `account_open_date`


        **Tip:** For EVP (random key), just send `{"key_type": "EVP"}`. BACEN
        generates the key automatically.


        **Scope:** `pix:keys:write`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - key_type
              properties:
                key_type:
                  type: string
                  enum: [CPF, CNPJ, EMAIL, PHONE, EVP]
                  description: Type of PIX key to register
                  example: EVP
                key:
                  type: string
                  description: >-
                    Key value. Required for CPF, CNPJ, EMAIL, PHONE. Leave empty
                    for EVP.
                  example: ""
      responses:
        '200':
          description: PIX key registered successfully
          content:
            application/json: {}
        '400':
          description: Invalid request parameters
        '409':
          description: Key already registered
    get:
      tags:
        - PIX Keys
      summary: List PIX Keys
      operationId: listPixKeys
      description: >-
        Lists all PIX keys registered for the authenticated client.


        **Scope:** `pix:keys:read`
      responses:
        '200':
          description: List of PIX keys
          content:
            application/json: {}
  /api/v1/pix/keys/{key}:
    get:
      tags:
        - PIX Keys
      summary: Get PIX Key by Value
      operationId: getPixKey
      description: >-
        Looks up a specific PIX key by its value (CPF, email, EVP UUID, etc.).


        **Scope:** `pix:keys:read`
      parameters:
        - name: key
          in: path
          required: true
          schema:
            type: string
          description: The PIX key value to look up
          example: "user@example.com"
      responses:
        '200':
          description: PIX key details
          content:
            application/json: {}
        '404':
          description: Key not found
    delete:
      tags:
        - PIX Keys
      summary: Delete PIX Key
      operationId: deletePixKey
      description: >-
        Removes a PIX key from DICT/BACEN.


        **URL parameter:** `key` — the PIX key value

        **Body:** `reason` (optional, defaults to `USER_REQUESTED`)


        **Scope:** `pix:keys:write`
      parameters:
        - name: key
          in: path
          required: true
          schema:
            type: string
          description: The PIX key value to delete
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for deletion
                  enum: [USER_REQUESTED, ACCOUNT_CLOSURE, BRANCH_TRANSFER, FRAUD]
                  default: USER_REQUESTED
                  example: USER_REQUESTED
      responses:
        '200':
          description: PIX key deleted successfully
          content:
            application/json: {}
        '404':
          description: Key not found
  /api/v1/pix/balance:
    get:
      tags:
        - PIX Balance
      summary: Get Balance
      operationId: getBalance
      description: >-
        Queries the account balance. If `account_id` is omitted, uses the
        client's default account.


        **Scope:** `pix:balance:read`
      parameters:
        - name: account_id
          in: query
          schema:
            type: string
          description: Account ID (optional, uses default account if omitted)
          example: acc-550e8400-e29b-41d4
      responses:
        '200':
          description: Account balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_id:
                    type: string
                    example: acc-550e8400-e29b-41d4
                  available_balance:
                    type: string
                    example: "10000.00"
                  blocked_balance:
                    type: string
                    example: "500.00"
                  total_balance:
                    type: string
                    example: "10500.00"
                  currency:
                    type: string
                    example: BRL
                  updated_at:
                    type: string
                    format: date-time
                    example: "2025-01-15T10:00:00Z"
  /api/v1/transactions:
    get:
      tags:
        - Transactions
      summary: List Transactions
      operationId: listTransactions
      description: >-
        Lists all transactions for the authenticated client with pagination and
        type filtering.


        **Scope:** Bearer JWT
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of records per page (1-100, default 20)
          example: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
          description: Offset for pagination (default 0)
          example: 0
        - name: type
          in: query
          schema:
            type: string
            enum: [cash_in, cash_out]
          description: Filter by transaction type (optional)
          example: cash_in
      responses:
        '200':
          description: Paginated list of transactions
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      transactions:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                            external_id:
                              type: string
                            client_id:
                              type: string
                              format: uuid
                            type:
                              type: string
                              enum: [cash_in, cash_out]
                            status:
                              type: string
                              enum: [pending, processing, completed, failed, expired, cancelled, refunded, returned]
                            amount:
                              type: string
                              example: "100.00"
                            gross_amount:
                              type: string
                              example: "100.00"
                            net_amount:
                              type: string
                              example: "99.50"
                            tax_amount:
                              type: string
                              example: "0.50"
                            currency:
                              type: string
                              example: BRL
                            pix_key:
                              type: string
                            pix_key_type:
                              type: string
                            e2e:
                              type: string
                              description: End-to-end ID
                            payer_name:
                              type: string
                            payer_document:
                              type: string
                            receiver_name:
                              type: string
                            receiver_document:
                              type: string
                            created_at:
                              type: string
                              format: date-time
                            updated_at:
                              type: string
                              format: date-time
                            processed_at:
                              type: string
                              format: date-time
                      total:
                        type: integer
                      limit:
                        type: integer
                      offset:
                        type: integer
  /api/v1/transactions/{id}:
    get:
      tags:
        - Transactions
      summary: Get Transaction by ID
      operationId: getTransaction
      description: >-
        Retrieves details of a specific transaction by ID. Returns 404 if the
        transaction does not belong to the authenticated client.


        **Scope:** Bearer JWT
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Transaction ID
      responses:
        '200':
          description: Transaction details
          content:
            application/json: {}
        '404':
          description: Transaction not found
  /api/v1/pix/limits:
    get:
      tags:
        - PIX Limits
      summary: Get Limits
      operationId: getLimits
      description: >-
        Queries PIX transaction limits for the account, grouped by type
        (pix_out, pix_in, ted, boleto) and period (daytime/nighttime).


        **Scope:** `pix:limits:read`
      parameters:
        - name: account_id
          in: query
          schema:
            type: string
          description: Account ID (optional, uses default account if omitted)
          example: acc-550e8400-e29b-41d4
      responses:
        '200':
          description: Account limits
          content:
            application/json:
              schema:
                type: object
                properties:
                  limits:
                    type: object
                    description: Limits grouped by type and period
                  period:
                    type: object
                    properties:
                      daytime:
                        type: string
                        example: "06:00-20:00"
                      nighttime:
                        type: string
                        example: "20:00-06:00"
                  currency:
                    type: string
                    example: BRL
  /api/v1/pix/limits/requests:
    post:
      tags:
        - PIX Limits
      summary: Request Limit Change
      operationId: requestLimitChange
      description: >-
        Creates a request to change a PIX transaction limit. The request remains
        pending until approved or rejected by an administrator.


        **Rules:**

        - Only one pending request per type/period is allowed

        - If one already exists, returns HTTP 409


        **Scope:** `pix:limits:write`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - period
                - requested_amount
              properties:
                type:
                  type: string
                  enum: [pix_in, pix_out, ted, boleto, total]
                  description: Limit type
                  example: pix_in
                period:
                  type: string
                  enum: [daily, nightly, monthly]
                  description: Time period
                  example: daily
                requested_amount:
                  type: string
                  description: Requested amount (decimal string)
                  example: "500000.00"
                reason:
                  type: string
                  description: Justification for the request (optional)
                  example: Increased e-commerce sales volume
      responses:
        '200':
          description: Limit change request created
          content:
            application/json: {}
        '409':
          description: A pending request already exists for this type/period
    get:
      tags:
        - PIX Limits
      summary: List Pending Limit Requests
      operationId: listLimitRequests
      description: >-
        Lists all pending limit change requests for the authenticated account.
        Returns only requests with `pending` status.


        **Scope:** `pix:limits:read`
      responses:
        '200':
          description: List of pending limit requests
          content:
            application/json: {}
  /api/v1/pix/limits/requests/{limit_request_id}:
    get:
      tags:
        - PIX Limits
      summary: Get Limit Request by ID
      operationId: getLimitRequest
      description: >-
        Retrieves details of a specific limit change request. Returns full data
        including current status (pending, approved, rejected, expired).


        **Scope:** `pix:limits:read`
      parameters:
        - name: limit_request_id
          in: path
          schema:
            type: string
          required: true
          description: Limit request ID
      responses:
        '200':
          description: Limit request details
          content:
            application/json: {}
  /api/v1/pix/cash-in:
    post:
      tags:
        - PIX Cash-In
      summary: Create Charge (Async)
      operationId: createCashInAsync
      description: >-
        Creates an asynchronous PIX charge (Cash-In). Generates a QR Code for
        the payer.


        **Scope:** `pix:cashin:write`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
              properties:
                amount:
                  type: string
                  description: Charge amount in BRL (decimal string)
                  example: "150.00"
                reference:
                  type: string
                  description: Your internal reference ID
                  example: order-12345
                description:
                  type: string
                  description: Charge description shown to payer
                  example: Monthly subscription payment
                payer_name:
                  type: string
                  description: Expected payer name (optional)
                  example: John Doe
                payer_document:
                  type: string
                  description: Expected payer document/CPF (optional)
                  example: "12345678901"
                expiration_time:
                  type: integer
                  description: Expiration time in seconds (default 3600)
                  example: 3600
                due_date:
                  type: string
                  format: date
                  description: Due date for CobV charges (YYYY-MM-DD)
                penalty:
                  type: object
                  description: Late fee configuration (CobV only)
                  properties:
                    mode:
                      type: integer
                      description: "1 = fixed amount, 2 = percentage"
                    value:
                      type: number
                interest:
                  type: object
                  description: Daily interest configuration (CobV only)
                  properties:
                    mode:
                      type: integer
                      description: "1 = BRL/day, 2 = %/day, 3 = %/month, 4 = %/year"
                    value:
                      type: number
                discount:
                  type: object
                  description: Early payment discount (CobV only)
                  properties:
                    mode:
                      type: integer
                    value:
                      type: number
                    fixed_dates:
                      type: array
                      items:
                        type: object
                rebate:
                  type: object
                  description: Rebate/abatement (CobV only)
                  properties:
                    mode:
                      type: integer
                    value:
                      type: number
                withdraw_amount:
                  type: string
                  description: PIX Withdrawal amount (PIX Saque)
                change_amount:
                  type: string
                  description: PIX Change amount (PIX Troco)
      parameters:
        - name: x-key-id
          in: header
          required: true
          schema:
            type: string
          description: API Key ID
          example: your-api-key-id
        - name: x-secret-key
          in: header
          required: true
          schema:
            type: string
          description: API Key Secret
          example: your-api-key-secret
      responses:
        '200':
          description: Charge created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  transaction_id:
                    type: string
                    example: txn_abc123
                  status:
                    type: string
                    example: pending
                  qr_code:
                    type: string
                    description: Base64-encoded QR code image
                  qr_code_text:
                    type: string
                    description: EMV payload for copy-paste
                  expires_at:
                    type: string
                    format: date-time
        '400':
          description: Invalid request parameters
  /api/v1/pix/cash-in/sync:
    post:
      tags:
        - PIX Cash-In
      summary: Create Charge (Sync)
      operationId: createCashInSync
      description: >-
        Creates a synchronous PIX charge. Waits for the
        complete processing result.


        **Fields:** Same as the asynchronous charge.


        **Scope:** `pix:cashin:write`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
              properties:
                amount:
                  type: string
                  description: Charge amount in BRL
                  example: "250.00"
                reference:
                  type: string
                  example: order-67890
                description:
                  type: string
                  example: Synchronous payment
                payer_name:
                  type: string
                  example: John Doe
                payer_document:
                  type: string
                  example: "11122233344"
                expiration_time:
                  type: integer
                  example: 1800
      parameters:
        - name: x-key-id
          in: header
          required: true
          schema:
            type: string
          description: API Key ID
          example: your-api-key-id
        - name: x-secret-key
          in: header
          required: true
          schema:
            type: string
          description: API Key Secret
          example: your-api-key-secret
      responses:
        '200':
          description: Charge created and processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  transaction_id:
                    type: string
                    example: txn_abc123
                  status:
                    type: string
                    example: pending
                  qr_code:
                    type: string
                  qr_code_text:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
                  provider:
                    type: string
                    example: pix
  /api/v1/pix/cash-in/{cashInId}:
    get:
      tags:
        - PIX Cash-In
      summary: Get Cash-In Status
      operationId: getCashInStatus
      description: >-
        Queries the status of a PIX charge.


        **Possible statuses:** `pending`, `paid`, `expired`, `cancelled`,
        `failed`


        **Scope:** `pix:cashin:read`
      parameters:
        - name: cashInId
          in: path
          required: true
          schema:
            type: string
          description: Cash-In transaction ID
        - name: x-key-id
          in: header
          required: true
          schema:
            type: string
          example: your-api-key-id
        - name: x-secret-key
          in: header
          required: true
          schema:
            type: string
          example: your-api-key-secret
      responses:
        '200':
          description: Cash-In status
          content:
            application/json: {}
        '404':
          description: Cash-In not found
  /api/v1/pix/cash-in/{cashInId}/cancel:
    post:
      tags:
        - PIX Cash-In
      summary: Cancel Cash-In
      operationId: cancelCashIn
      description: >-
        Cancels a pending PIX charge. Only works for charges with `pending`
        status.


        **Scope:** `pix:cashin:write`
      parameters:
        - name: cashInId
          in: path
          required: true
          schema:
            type: string
          description: Cash-In transaction ID
        - name: x-key-id
          in: header
          required: true
          schema:
            type: string
          example: your-api-key-id
        - name: x-secret-key
          in: header
          required: true
          schema:
            type: string
          example: your-api-key-secret
      responses:
        '200':
          description: Cash-In cancelled successfully
          content:
            application/json: {}
        '400':
          description: Cash-In cannot be cancelled (not in pending status)
  /api/v1/pix/reversals:
    post:
      tags:
        - PIX Reversals
      summary: Create Reversal
      operationId: createReversal
      description: >-
        Creates a reversal (refund) of a received PIX payment.


        **Scope:** `pix:reversals:write`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
                - external_id
                - end_to_end_id
              properties:
                amount:
                  type: string
                  description: Amount in BRL to refund (e.g. "10.00" = R$10.00)
                  example: "10.00"
                external_id:
                  type: string
                  description: Unique reversal ID in your system
                  example: rev-unique-id-001
                end_to_end_id:
                  type: string
                  description: EndToEndID of the original received PIX payment
                  example: E35547753202201201450u34sDGd19l2
                reason:
                  type: string
                  description: Reason for the reversal (optional)
                  example: Customer requested refund
                tags:
                  type: array
                  description: Tags for categorization (optional)
                  items:
                    type: string
                  example: ["refund", "customer-request"]
      parameters:
        - name: X-Idempotency-Key
          in: header
          schema:
            type: string
            format: uuid
          description: Prevents duplicate reversals
          example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Reversal created successfully
          content:
            application/json: {}
        '400':
          description: Invalid request parameters
        '409':
          description: Duplicate reversal (idempotency key already used)
    get:
      tags:
        - PIX Reversals
      summary: List Reversals
      operationId: listReversals
      description: >-
        Lists all PIX reversals with pagination and filter support.


        **Scope:** `pix:reversals:read`
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            maximum: 100
          description: Maximum number of results (max 100)
          example: 10
        - name: cursor
          in: query
          schema:
            type: string
          description: Cursor for pagination
        - name: after
          in: query
          schema:
            type: string
            format: date
          description: Filter by creation date (after)
          example: "2024-01-01"
        - name: before
          in: query
          schema:
            type: string
            format: date
          description: Filter by creation date (before)
          example: "2024-12-31"
        - name: status
          in: query
          schema:
            type: string
            enum: [processing, success, failed]
          description: Filter by status
          example: success
        - name: endToEndIds
          in: query
          schema:
            type: string
          description: Filter by EndToEndID(s)
        - name: externalIds
          in: query
          schema:
            type: string
          description: Filter by external ID(s)
      responses:
        '200':
          description: List of reversals
          content:
            application/json: {}
  /api/v1/pix/reversals/{reversalId}:
    get:
      tags:
        - PIX Reversals
      summary: Get Reversal by ID
      operationId: getReversal
      description: >-
        Retrieves the status and details of a PIX reversal by its ID.


        **Scope:** `pix:reversals:read`
      parameters:
        - name: reversalId
          in: path
          required: true
          schema:
            type: string
          description: Reversal ID
      responses:
        '200':
          description: Reversal details
          content:
            application/json: {}
        '404':
          description: Reversal not found
  /api/v1/pix/cash-out:
    post:
      tags:
        - PIX Cash-Out
      summary: Create Cash-Out
      operationId: createCashOut
      description: >-
        Initiates a PIX payment (Cash-Out). This single endpoint supports three
        different payment flows depending on the fields provided:


        ## Flow 1 — Via PIX Key


        Send a payment directly using the recipient's PIX key.

        **Required fields:** `amount`, `pix_key`, `pix_key_type`


        ## Flow 2 — Via Bank Details


        Send a payment using the recipient's bank account details, without
        needing a PIX key.

        **Required fields:** `amount`, `receiver_name`, `receiver_document`,
        `receiver_ispb`, `receiver_branch`, `receiver_account`,
        `receiver_account_type`


        ## Flow 3 — Via QR Code (Two-Step)


        1. First decode the QR Code via `POST /api/v1/pix/qrcode/decode`

        2. Use the returned `end_to_end_id` as the `X-Pix-Lookup-E2E` header
        in this call

        3. The system retrieves pre-decoded data and processes the payment
        (without decoding again)


        **Required fields:** `amount` + header `X-Pix-Lookup-E2E`


        **Scope:** `pix:cashout:write`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
              properties:
                amount:
                  type: string
                  description: Payment amount in BRL
                  example: "1000.00"
                pix_key:
                  type: string
                  description: Recipient PIX key (required for Flow 1)
                  example: "12345678901"
                pix_key_type:
                  type: string
                  enum: [CPF, CNPJ, EMAIL, PHONE, EVP]
                  description: PIX key type (required for Flow 1)
                  example: CPF
                receiver_name:
                  type: string
                  description: Recipient full name (required for Flow 2)
                  example: John Doe
                receiver_document:
                  type: string
                  description: Recipient CPF or CNPJ (required for Flow 2)
                  example: "98765432100"
                receiver_ispb:
                  type: string
                  description: Recipient bank ISPB code, 8 digits (required for Flow 2)
                  example: "00000000"
                receiver_branch:
                  type: string
                  description: Recipient branch number (required for Flow 2)
                  example: "0001"
                receiver_account:
                  type: string
                  description: Recipient account number (required for Flow 2)
                  example: "12345678"
                receiver_account_type:
                  type: string
                  enum: [checking, savings, salary, payment]
                  description: Recipient account type (required for Flow 2)
                  example: checking
                description:
                  type: string
                  description: Payment description (optional)
                  example: Supplier payment
                reference:
                  type: string
                  description: Your internal reference ID (optional)
                  example: pay-001
                metadata:
                  type: object
                  description: Custom metadata (optional)
      parameters:
        - name: X-Idempotency-Key
          in: header
          schema:
            type: string
            format: uuid
          description: Prevents duplicate payments (recommended)
          example: 550e8400-e29b-41d4-a716-446655440000
        - name: X-Pix-Lookup-E2E
          in: header
          schema:
            type: string
          description: >-
            EndToEndID from a previous QR Code decode (required for Flow 3).
            Obtained from `POST /api/v1/pix/qrcode/decode`.
      responses:
        '200':
          description: Cash-Out initiated
          content:
            application/json: {}
        '400':
          description: Invalid request parameters
  /api/v1/pix/cash-out/{cashOutId}:
    get:
      tags:
        - PIX Cash-Out
      summary: Get Cash-Out Status
      operationId: getCashOutStatus
      description: >-
        Queries the status of a PIX payment (Cash-Out).


        **Possible statuses:** `processing`, `completed`, `failed`, `returned`


        **Scope:** `pix:cashout:read`
      parameters:
        - name: cashOutId
          in: path
          required: true
          schema:
            type: string
          description: Cash-Out transaction ID
      responses:
        '200':
          description: Cash-Out status
          content:
            application/json: {}
        '404':
          description: Cash-Out not found
  /api/v1/pix/qrcode/decode:
    post:
      tags:
        - PIX Cash-Out
      summary: Decode QR Code
      operationId: decodeQRCode
      description: >-
        Decodes a PIX QR Code (static or dynamic).


        **Required field:** `br_code` (EMV payload from QR Code)


        **Participant fields (resolved via BACEN ParticipantesSTR list):**

        - `receiver_participant_name` — Recipient institution name (always
        present)

        - `withdraw_participant_name` — Withdrawal agent institution (PIX Saque
        only)

        - `change_participant_name` — Change agent institution (PIX Troco only)


        **Financial fields (returned when present in CobV QR):**

        - `due_date` — Due date (YYYY-MM-DD)

        - `penalty` — Late fee: `mode` (1=fixed, 2=%), `value`

        - `interest` — Interest: `mode` (1=BRL/day, 2=%/day, 3=%/month,
        4=%/year), `value`

        - `discount` — Discount: `mode` (1-4), `value`, `fixed_dates[]`

        - `rebate` — Rebate: `mode` (1=fixed, 2=%), `value`

        - `final_amount` — Final amount calculated by BACEN (with charges
        applied)

        - `withdraw_amount` — Withdrawal amount (PIX Saque)

        - `change_amount` — Change amount (PIX Troco)


        **Optimized flow (Two-Step — RECOMMENDED):**

        1. Decode the QR Code with this API (data is saved in lookup history)

        2. Confirm recipient details with the user

        3. Send the Cash-Out using the `X-Pix-Lookup-E2E: {end_to_end_id}`
        header (WITHOUT sending `br_code` again)

        4. The system uses pre-decoded data, avoiding a duplicate decode call


        **Scope:** `pix:cashout:write`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - br_code
              properties:
                br_code:
                  type: string
                  description: EMV payload from the QR Code
                  example: "00020126580014br.gov.bcb.pix0136263187470001865204000053039865405..."
      responses:
        '200':
          description: Decoded QR Code data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  qr_code_type:
                    type: string
                    enum: [static, dynamic]
                    example: static
                  pix_key:
                    type: string
                  amount:
                    type: number
                  receiver_name:
                    type: string
                  receiver_ispb:
                    type: string
                  receiver_participant_name:
                    type: string
                  end_to_end_id:
                    type: string
                    description: Use this in X-Pix-Lookup-E2E header for the two-step flow
                  due_date:
                    type: string
                    format: date
                  penalty:
                    type: object
                  interest:
                    type: object
                  discount:
                    type: object
                  rebate:
                    type: object
                  final_amount:
                    type: number
                  withdraw_amount:
                    type: number
                  change_amount:
                    type: number
        '400':
          description: Invalid or unreadable QR Code
  /api/v1/pix/med/{medId}/respond:
    post:
      tags:
        - MED
      summary: Respond to MED Request
      operationId: respondMed
      description: >-
        Responds to an inbound MED (Special Return Mechanism) request.


        **Possible actions:**

        - `approve` — Approves the return (captures the precautionary hold and
        credits the funds)

        - `reject` — Rejects the return (releases the precautionary hold)


        **Scope:** `pix:med:write`
      parameters:
        - name: medId
          in: path
          required: true
          schema:
            type: string
          description: MED request ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - action
              properties:
                action:
                  type: string
                  enum: [approve, reject]
                  description: Action to take on the MED request
                  example: approve
                reason:
                  type: string
                  description: Reason for the decision (optional)
                  example: Return approved after analysis
      responses:
        '200':
          description: MED response recorded
          content:
            application/json: {}
        '404':
          description: MED request not found
  /api/v1/pix/med/status/{status}:
    get:
      tags:
        - MED
      summary: List MED by Status
      operationId: listMedByStatus
      description: >-
        Lists MED requests filtered by status.


        **Possible statuses:** `OPEN`, `IN_ANALYSIS`, `APPROVED`, `REJECTED`,
        `CLOSED`


        **Scope:** `pix:med:read`
      parameters:
        - name: status
          in: path
          required: true
          schema:
            type: string
            enum: [OPEN, IN_ANALYSIS, APPROVED, REJECTED, CLOSED]
          description: MED status to filter by
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: Page number (1-based)
          example: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
          description: Items per page
          example: 20
      responses:
        '200':
          description: List of MED requests
          content:
            application/json: {}
  /api/v1/webhooks:
    post:
      tags:
        - Webhooks
      summary: Create Webhook
      operationId: createWebhook
      description: >-
        Creates a new webhook to receive PIX event notifications.


        **IMPORTANT:** The `secret` is returned **only at creation time**. Store
        it securely for signature validation.

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - url
              properties:
                url:
                  type: string
                  format: uri
                  description: HTTPS URL that will receive notifications
                  example: https://api.example.com/webhooks/pix
                events:
                  type: array
                  description: >-
                    List of events to subscribe to. If empty or `["*"]`,
                    receives all events.
                  items:
                    type: string
                  example:
                    - pix.cash_in.confirmed
                    - pix.cash_in.received
                    - pix.cash_out.completed
      responses:
        '201':
          description: Webhook created successfully
          content:
            application/json: {}
    get:
      tags:
        - Webhooks
      summary: List Webhooks
      operationId: listWebhooks
      description: >-
        Lists all webhooks registered by the authenticated client.

      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
          description: Items per page (max 100, default 20)
          example: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
          description: Offset for pagination (default 0)
          example: 0
      responses:
        '200':
          description: List of webhooks
          content:
            application/json: {}
  /api/v1/webhooks/{webhook_id}:
    get:
      tags:
        - Webhooks
      summary: Get Webhook by ID
      operationId: getWebhook
      description: >-
        Retrieves a specific webhook by ID. Returns webhook details including
        status and last activity timestamps.
      parameters:
        - name: webhook_id
          in: path
          schema:
            type: string
          required: true
          description: Webhook ID
      responses:
        '200':
          description: Webhook details
          content:
            application/json: {}
        '404':
          description: Webhook not found
    put:
      tags:
        - Webhooks
      summary: Update Webhook
      operationId: updateWebhook
      description: >-
        Updates an existing webhook. All fields are optional — send only what
        you want to change.
      parameters:
        - name: webhook_id
          in: path
          schema:
            type: string
          required: true
          description: Webhook ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  format: uri
                  description: New destination URL
                  example: https://api.example.com/webhooks/pix-v2
                events:
                  type: array
                  description: New event list (use `["*"]` for all)
                  items:
                    type: string
                  example: ["*"]
                status:
                  type: string
                  enum: [active, inactive]
                  description: Webhook status
                  example: active
      responses:
        '200':
          description: Webhook updated successfully
          content:
            application/json: {}
        '404':
          description: Webhook not found
    delete:
      tags:
        - Webhooks
      summary: Delete Webhook
      operationId: deleteWebhook
      description: >-
        Removes a registered webhook. Pending deliveries for this webhook will
        be cancelled.


        **WARNING:** This action is irreversible.
      parameters:
        - name: webhook_id
          in: path
          schema:
            type: string
          required: true
          description: Webhook ID
      responses:
        '200':
          description: Webhook deleted successfully
          content:
            application/json: {}
        '404':
          description: Webhook not found
  /api/v1/webhooks/deliveries:
    get:
      tags:
        - Webhooks
      summary: List Deliveries
      operationId: listDeliveries
      description: >-
        Lists webhook deliveries for the client. Each delivery shows the event,
        status, payload sent, response received, attempt count, and timestamps.

      parameters:
        - name: webhookId
          in: query
          schema:
            type: string
          description: Filter by webhook ID (UUID)
        - name: transactionId
          in: query
          schema:
            type: string
          description: Filter by transaction ID (UUID)
        - name: eventType
          in: query
          schema:
            type: string
          description: Filter by event type (e.g. pix.cash_in.confirmed)
        - name: status
          in: query
          schema:
            type: string
            enum: [delivered, pending, failed]
          description: Filter by delivery status
        - name: start_date
          in: query
          schema:
            type: string
            format: date
          description: Filter by start date (YYYY-MM-DD)
        - name: end_date
          in: query
          schema:
            type: string
            format: date
          description: Filter by end date (YYYY-MM-DD)
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: Page number (1-based, default 1)
          example: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
          description: Items per page (max 100, default 50)
          example: 20
        - name: offset
          in: query
          schema:
            type: integer
          description: Alternative to page-based pagination (0-based)
          example: 0
      responses:
        '200':
          description: List of deliveries
          content:
            application/json: {}
  /api/v1/webhooks/deliveries/{delivery_id}:
    get:
      tags:
        - Webhooks
      summary: Get Delivery by ID
      operationId: getDelivery
      description: >-
        Retrieves details of a specific delivery, including the payload sent,
        HTTP response status, and number of attempts.
      parameters:
        - name: delivery_id
          in: path
          schema:
            type: string
          required: true
          description: Delivery ID
      responses:
        '200':
          description: Delivery details
          content:
            application/json: {}
        '404':
          description: Delivery not found
  /api/v1/webhooks/deliveries/{delivery_id}/resend:
    post:
      tags:
        - Webhooks
      summary: Resend Delivery
      operationId: resendDelivery
      description: >-
        Manually resends a failed or undelivered webhook delivery.


        Useful when:

        - Your URL was down and is now back online

        - You missed a notification and need to reprocess

        - You want to test integration with real data


        The delivery will be re-queued and delivered on the next worker
        execution.
      parameters:
        - name: delivery_id
          in: path
          schema:
            type: string
          required: true
          description: Delivery ID
      responses:
        '200':
          description: Delivery re-queued successfully
          content:
            application/json: {}
        '404':
          description: Delivery not found
